26.01.2024

# print() - Çıktı

In [1]:
print("Hello World")

Hello World

In [2]:
Print("Hello World") # Pyton sensitive bir dildir. Büyük-Küçük harfe duyarlıdır.

NameError: name 'Print' is not defined

In [ ]:
print("Techpro" # fonksiyon yazarken parantez açılıp kapatılması gerekir

SyntaxError: incomplete input (708118547.py, line 1)

In [3]:
print("Techpro") # string ifadeler tırnak içine alıması gerekir

Techpro

In [ ]:
print("Techpro') # string ifadeler çift tırnak ile başladıysa çift tırnakla, tek tırnakla başladıysa tek tırnakla bitirilmelidir.

SyntaxError: unterminated string literal (detected at line 1) (532813606.py, line 1)

In [ ]:
print("Techpro) # string ifadeler tırnak açılınca kapatılması gerekir.

SyntaxError: unterminated string literal (detected at line 1) (1394026866.py, line 1)

In [4]:
print("I'm a python teacher")

I'm a python teacher

In [ ]:
print('I'm a python teacher')

SyntaxError: unterminated string literal (detected at line 1) (256345490.py, line 1)

In [5]:
print("""üç tırnak ifadesi önemli bir yazım şeklidir.""")

üç tırnak ifadesi önemli bir yazım şeklidir.

In [6]:
print('''üç tırnak ifadesi önemli bir yazım şeklidir.''')

üç tırnak ifadesi önemli bir yazım şeklidir.

In [ ]:
print("üç tırnak ifadesi 
      önemli bir yazım şeklidir.")

SyntaxError: unterminated string literal (detected at line 1) (2598101722.py, line 1)

In [7]:
print("""üç tırnak ifadesi 
      önemli bir yazım şeklidir.""")   # Üç tırnak ifadesi uzun metinlari alt satıra geçilmesini sağlar

üç tırnak ifadesi
      önemli bir yazım şeklidir.

In [8]:
print("""üç tırnak
      ifadesi 
      önemli bir 
      yazım şeklidir.""")

üç tırnak
      ifadesi
      önemli bir
      yazım şeklidir.

In [9]:
# markdown ile başlık yazabiliriz

27.01.2024

markdown satırı ile başlıklar yazmak için kullanılır.

markdown satırına # ile başlarsak başlıkların büyüklüklerini ayarlayabiliriz. Kaçtane # ile başlarsak başlıklar o kadar küçülür.

# pep8 Kuralları

# comment - Code satırına # ile yazılan açıklamalar

# Variables - Değişkenler

In [10]:
print("Techpro Education")

Techpro Education

In [11]:
course = "Techpro Education"

In [12]:
course

'Techpro Education'

In [13]:
print(course)

Techpro Education

In [14]:
Liste = "1234" # Değişkenler büyük harfle başkaybilir

In [15]:
Liste

'1234'

In [16]:
liste-1 = "576" # Değişkenlerde - işareti kullanılamaz

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3356442967.py, line 1)

In [ ]:
&liste_2 = "sadime" # değişkenlerde özel karakterler kullanılamaz

SyntaxError: invalid syntax (3443467396.py, line 1)

In [17]:
print(course, Liste) # Birden fazla değişken çıktısı aynı anda alınabilir

Techpro Education 1234

In [18]:
name_1, name_2 = "Sadime", "Deniz"

In [20]:
print(name_1, name_2)

Sadime Deniz

In [21]:
first_name = "Sadime"
last_name = "Yıldırım"

In [22]:
f_n = "Sadime"
l_n = "Yıldırım"

In [23]:
first_name

'Sadime'

# Data Types

## String

In [24]:
"Hello World" # Tırnak içine yazılan tüm ifadeler stringtir. Matematiksel olmayan metin ifadelerdir.

'Hello World'

In [25]:
type(f_n) # type fonksiyonuyla datanın Type nı öğrenebiliriz.

str

In [26]:
age_1 = 35

In [27]:
age_2 = "35"

In [28]:
type(age_1)

int

In [29]:
type(age_2) # sayılar tırnak içindeyse integer değil stringtir.

str

## integer - Tamsayılar

In [30]:
age_3 = 42

In [31]:
type(age_3)

int

## float  - kesirli, ondalıklı sayılar

In [32]:
pi_number = 3.14 # virgül kullanılmaz nokta kullanılır.

In [33]:
type(pi_number)

float

In [34]:
sayı_1 = 2/3

In [35]:
type(sayı_1)

float

## boolean - True - False İfadeler

In [36]:
type(True) # Matematiksel karşılığı 1 olan ifadelerdir. Vrlığı ifade eder

bool

In [37]:
type(False) # Matematiksel karşılığı 0 olan ifadelerdir. Yokluğu Hiçliği ifade  eder.

bool

29.01.2024

# Type Conversion

Veri tiplerini birbirine çevirme

## All types to str

In [38]:
age = 45

In [39]:
type(age)

int

In [40]:
str(age) # atama yapılmadığı için geçici olarak değiştrir. Kalıcı olarak değiştirmek için atama yapmak lazım

'45'

In [41]:
type(age)

int

In [42]:
age = str(age) # age değişkenine str olarak atama yaptık

In [43]:
type(age)

str

In [44]:
type(3.14)

float

In [45]:
str(3.14)

'3.14'

In [46]:
no = 3.14
type(no)

float

In [47]:
no = str(no)

In [48]:
type(no)

str

In [49]:
str(True)

'True'

In [50]:
no_1 = True

In [51]:
type(no_1)

bool

In [52]:
no_1 = str(no_1)
type(no_1)

str

In [53]:
pi_number

3.14

In [54]:
type(pi_number)

float

In [55]:
pi_number = str(pi_number)
type(pi_number)

str

## str to int - string olan ifadeyi integer e çevirmek

In [56]:
age_4 = "49" # string ifade

In [57]:
2024 - age_4

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [58]:
2024 - int(age_4)

1975

## Str to float

In [59]:
float("3.14")

3.14

In [60]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

## float to int ve int to float

In [61]:
int(5.4)

5

In [62]:
int(5.6) # integer fonksiyonu yuvarlama yapmaz. Noktadan sonrası siler.

5

In [64]:
int(22/7)

3

In [65]:
float(5)

5.0

In [66]:
float("3.14")

3.14

In [67]:
int(float("3.14"))

3

## bool to int, bool to  float

In [68]:
int(True)

1

In [69]:
int(False)

0

In [70]:
float(True)

1.0

In [71]:
float(False)

0.0

In [72]:
str(True)

'True'

# Arithmetik Operators

In [73]:
3 + 5

8

In [74]:
9 - 4

5

In [75]:
8 * 5

40

In [76]:
40 / 10

4.0

In [77]:
2.4 * 5

12.0

### floor division - bölüm

In [78]:
25 / 3

8.333333333333334

In [79]:
25 // 3 # bölüm

8

### modulus - kalan

In [80]:
25 % 3 # kalan

1

### üs alma

In [81]:
2 ** 3

8

### kök alma

In [82]:
25 ** 0.5 # 25 in kare kökü

5.0

In [83]:
25 ** (1/2) # 25 in kare kökü

5.0

In [84]:
125 ** (1/3)   # 125 in küp kök

5.0

In [85]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)
print(x)

36.0

SORU : Yarıçapı 7 olan bir dairenin alanını bulan python kodunu yaznız. pi = 3.14

In [86]:
r = 7
pi = 3.14
A = pi * (r**2)
print("Yarıçapı ", r, "olan dairenin alanı : ", int(A), "dır")

Yarıçapı  7 olan dairenin alanı :  153 dır

SORU : Bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazınız.

In [87]:
kenar_1 = 5
kenar_2 = 12
hip = (kenar_1**2 + (kenar_2**2))**0.5
print("Bir kenarı ", kenar_1, " diğer kenarı ", kenar_2, " olan dik üçgenin hipotenüsü : ", int(hip), " dir")

Bir kenarı  5  diğer kenarı  12  olan dik üçgenin hipotenüsü :  13  dir

30.01.2024

# print() function

In [88]:
print("Techpro Education")

Techpro Education

In [89]:
print("Mikail", "Serhan", "Mustafa")

Mikail Serhan Mustafa

## help() - bir komut veya fonsiyon ile alakalı bilgi almak için kullanılabilir.

In [90]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### sep parametresi - Ayıraç - print fonksiyonunda elemanlar arasına gelecek değeri belirler. - string olarak kullanılabilir. sep =""

In [91]:
print("Mikail", "Serhan", "Mustafa")

Mikail Serhan Mustafa

In [92]:
print("Mikail", "Serhan", "Mustafa", sep = "***")

Mikail***Serhan***Mustafa

In [93]:
print("Mikail", "Serhan", "Mustafa", sep = " ! ")

Mikail ! Serhan ! Mustafa

In [94]:
print("Mikail", "Serhan", "Mustafa", sep = "")

MikailSerhanMustafa

In [95]:
print("Mikail", "Serhan", "Mustafa", sep = " and ")

Mikail and Serhan and Mustafa

## and ( \n ) parametresi - satır sonu karakteridir. Default değeri alt satıra geçirir, Enter gibi. Bunu değiştirirsem bir alt satıra inmez verdiğim değeri satır sonuna ekler

In [96]:
print("Mikail")
print("Serhan")
print("Mustafa")

Mikail
Serhan
Mustafa

In [97]:
print("Mikail", end = "**")
print("Serhan")
print("Mustafa")

Mikail**Serhan
Mustafa

In [98]:
print("Mikail", end = " ! ")
print("Serhan")
print("Mustafa")

Mikail ! Serhan
Mustafa

In [99]:
print("Mikail", end = " ! ")
print("Serhan", end = " ** ")
print("Mustafa", end = "  //// ")

Mikail ! Serhan ** Mustafa  ////

In [100]:
print("Mikail", end = " ! ")
print("Serhan", end = " ** ")
print("Mustafa", "Ali", sep =" -- ", end = "  // ")

Mikail ! Serhan ** Mustafa -- Ali  //

In [101]:
print("Elma", "Armut", "Portakal", "Vişne", sep = "\n")

Elma
Armut
Portakal
Vişne

# input() - dışarıdan veri almaya yarar

In [102]:
input() # input ile alınan tüm veriler stringtir.

'5'

In [103]:
input("Lütfen yaşınızı girin")

'49'

In [104]:
age = input("Lütfen yaşınızı giriniz")

In [105]:
2024 - int(age)

1975

In [106]:
age = int(age)

In [107]:
age_1 = int(input("Lütfen Yaşınızı Giriniz"))
print(age_1)

25

In [111]:
yaş = int(input("Lütfen yaşınızı giriniz."))
şt = int(input("Lütfen bulunduğunuz yılı giriniz"))
dt = şt - yaş
print("Doğum tarihiniz", dt)

Doğum tarihiniz 1975

SORU : Kullanıcıdan kilo ve boy bilgisi alan ve girilen bilgiye vücut kitle indeksini (vki) hesaplayan kodu yazın.

In [114]:
kilo = float(input("Lütfen kilonuzu kg cinsinden giriniz."))
boy = float(input("Lütfen boyunuzu metre cinsinden giriniz"))
vki = kilo / boy**2
print("Vucut kitle indeksiniz: ", int(vki), "dir")

Vucut kitle indeksiniz:  25 dir

# Escape Sequence - Kaçış Manevraları

### \ - önüne gelen karakteri python görmezden gelir - işlevini yaptırmaz

In [ ]:
print('I'm a python teacher')

SyntaxError: unterminated string literal (detected at line 1) (256345490.py, line 1)

In [115]:
print("I'm a python teacher")

I'm a python teacher

In [116]:
print('I\'m a python teacher') # \ - önüne geldiği ' karakterini pythonun işleme koymamasını yazı olaraak (str) görmesini sağlar

I'm a python teacher

### \n - enter karakteri alt satıra inilmesini sağlar.

In [117]:
print("Ayşe", "Fatma", "\n", "Betül", "Ali", )

Ayşe Fatma
 Betül Ali

In [118]:
print("Ayşe", "Fatma", "Betül", "Ali", sep = "\n" )

Ayşe
Fatma
Betül
Ali

In [119]:
print("Bu ders çok uzadı sanki. Bir bitse mi acaba")

Bu ders çok uzadı sanki. Bir bitse mi acaba

In [120]:
print("Bu ders çok uzadı sanki. \nBir bitse mi acaba")

Bu ders çok uzadı sanki.
Bir bitse mi acaba

### \t - 1 tab tuşuna (boşluk)bırakmak tuşudur

In [121]:
print("Ayşe", "Fatma", "Betül", "Ali", sep = "\t" )

Ayşe	Fatma	Betül	Ali

In [122]:
print("Bu ders çok uzadı sanki.\tBir bitse mi acaba")

Bu ders çok uzadı sanki.	Bir bitse mi acaba

### \b - backspace tuşu gibi bir önceki karakteri siler

In [123]:
print("Bu ders çok uzadı sanki.\bBir bitse mi acaba")

Bu ders çok uzadı sankiBir bitse mi acaba

In [124]:
print("Ayşe", "Fatma", "Betül", "Ali", sep = "\b" ) # boşluk zaten default karakterdi. İsimlerin son harfleri de o yüzden silindi.

AyşFatmBetüAli

r - escape Sequence dan kaçma yöntemi. Parantez içini olduğu gibi yazdırır.

In [125]:
print(r"Bu ders çok uzadı sanki.\bBir bitse mi acaba")

Bu ders çok uzadı sanki.\bBir bitse mi acaba

SORU: Kullanıcıdan Celcius bilgisini alınız ve fahrenheit'a çevirin.

In [126]:
cel = float(input("Lütfen sıcaklığı Celsius cinsinden giriniz"))
fah = float(1.8*cel+32)
print("Celsius cinsinden girdiğiniz sıcaklık değeri, ", cel, "derecesi Fahraniet cinsinden : ", fah, "dır")

Celsius cinsinden girdiğiniz sıcaklık değeri,  35.0 derecesi Fahraniet cinsinden :  95.0 dır

01.02.2024

# Comparison Operators - Karşılaştırma Operatörleri
## >, <, >=, <=, ==, !=

In [127]:
5 > 8

False

In [128]:
type(5 > 8)

bool

In [129]:
5 < 8

True

In [130]:
type (5 < 8)

bool

### == Eşitmidir karşılaştırması

In [131]:
şifre = "1234"
Kull_girişi = input("Şifrenizi giriniz")
şifre == Kull_girişi

True

In [132]:
6 < 6

False

In [133]:
6==6

True

In [134]:
6<=6

True

!=  - Eşit değildir karşılaştırması

In [135]:
8 != 8

False

In [136]:
7 != 6

True

In [137]:
True > 0.6

True

In [138]:
True > 1.6

False

In [139]:
"Sedat" > "İstanbul" # Stringlerde, ASCI Tablosuna göre karakterlerin değerlerine bakarak karşılaştırır.
                    # Önce 1. karakterleri karşılaştırır, eşitse 2. karakteri, eşitse devam eder farklı olanı bulana kadar

False

#### ord() - karakterlerin ASCI tablosundaki değeri gösterir.

In [140]:
ord("S")

83

In [141]:
ord("İ")

304

### chr() - karakterlerin ASCI tablosundaki değeri girersin karakterin kendisi gelir. ord nin tersi

In [142]:
chr(83)

'S'

In [143]:
chr(304)

'İ'

# Boolean

## 0, 0.0, "", [], (), {}, False ------------- Bunların hepsi False dir.
## Yukarıdakilerin dşındaki herşey True dur.

In [144]:
bool("sedat")

True

In [145]:
bool(0)

False

In [146]:
bool("")

False

# Logic Expressions

İşlem Önceliği : 

1 - not - işlem sonucu her zaman True veya False dir

2 - and 

3 - or

## not - önüne geldiği değeri tersine çevirir.

In [147]:
not False # not ile yazılan tüm değerler boolean dır. Yani ya True ya da False dir.

True

In [148]:
not True

False

In [149]:
not "Techpro" # not ile yazılan tüm string ifadeler False dir

False

In [150]:
not "" # Normalde False çıkan (0, 0.0, [], (), "" ) ifadeler True çıkar.

True

## and - mantıktaki ve operasyonu.
#### Hepsi True ise sondaki elemanı döndürür. Bir tane bile False varsa ilk gördüğü False u döndürür.

In [151]:
5 and 8 # Truthy ifade

8

In [152]:
5 and 0 and 8

0

In [153]:
5 and False and 0 and 8 # Falsy ifade

False

## or - mantıktaki veya operasyonu
#### Hepsi False ise sondaki elemanı döndürür. Bir tane bile True varsa ilk gördüğü False u döndürür.

In [154]:
0 or False or "" or 0.0

0.0

In [155]:
0 or 15 or False

15

In [156]:
False or 5 and not 0

True

In [157]:
False or not 0 and 6 and "kahoot"

'kahoot'

In [208]:
"none or 1"

'none or 1'

02.02.2024

# STRINGS

### immutable - değiştirilemez
### iterible - ulaşılabilir

## indexing [] - Karakterleri tek tek ayrıma

In [209]:
name_3 = "Technopro Education"
name_3

'Technopro Education'

In [160]:
name_3[0]

'T'

In [161]:
name_3[3]

'h'

In [162]:
"Betül"[3]

'ü'

In [163]:
"Betül"[-1]

'l'

#### Stringlerde toplama ve çarpma işlemleri yapılabilir.

In [164]:
"Techpro" + "Education"

'TechproEducation'

In [165]:
"Techpro Education" * 3

'Techpro EducationTechpro EducationTechpro Education'

In [166]:
name_4 = "Techpro Education"

In [167]:
name_4[4] + name_4[5] + name_4[6]

'pro'

In [168]:
name_4[4:6] # start noktası 4 stop noktası 6 dır. stop noktası alınmaz. 0 dan başlar.

'pr'

In [169]:
name_4[0:6:2] # sondaki basamak atlama değeri.

'Tcp'

In [170]:
name_4[::] # boş bırakırsak hepsini alır.

'Techpro Education'

In [171]:
name_4[::2]

'TcpoEuain'

In [172]:
name_4[::-1]

'noitacudE orphceT'

In [173]:
name_4[::-2]

'niauEopcT'

In [174]:
name_4[:17:-2] # Tesrten (-) değerden başladığımızda önce stop noktasıyla karşılaştığı için bos sonuç verir.

''

In [175]:
name_4[17:1:-2]

'niauEopc'

## String Methods

### .capitalize() - İlk harfi büyük harfe çevirir.

In [176]:
"techpro".capitalize()

'Techpro'

### .upper() - Tüm harfleri büyük harfe çevirir.

In [177]:
"techpro".upper()

'TECHPRO'

### . lower() - Tüm harfleri küçük harfe çevirir.

In [178]:
name_5 = "Techpro Education"

In [179]:
name_5.lower()

'techpro education'

### .swapcase() - küçükleri büyük büyükleri küçük yapar.

In [180]:
name_5.swapcase()

'tECHPRO eDUCATION'

In [181]:
# Örnek: emre ifadesini emRe ye çevir

"emre"[0:2] + "emre"[2].capitalize() + "emre"[-1]

'emRe'

## .title() - Her kelimenin ilk harfini büyük yapar

In [182]:
'techpro education'.title()

'Techpro Education'

03.02.2024

### * - printte başa gelince ifadenin aralarına boşluk bırakır.

In [183]:
print("Beşik")

Beşik

In [184]:
print(*"Beşik")

B e ş i k

## round () - Yuvarlama - araya , koyup kaç basamak görülmek isteniyorsa basamamk sayısı yazlır

In [185]:
round(24.1)

24

In [186]:
round(130.666, 2)

130.67

In [187]:
round(1256.678 , -1) # - değerle noktadan önceki değerleri yuvarlar

1260.0

In [188]:
round(1256.678 , -2)

1300.0

In [189]:
round(1256.678 , -3)

1000.0

## Replace

In [190]:
"tech?pro".replace("?", "!")

'tech!pro'

In [191]:
"sADİME?DENİZ?AYŞE?KARDEŞ?".replace("?","*", 3)

'sADİME*DENİZ*AYŞE*KARDEŞ?'

In [192]:
"sADİME?DENİZ?AYŞE?KARDEŞ?".replace("?","*", -3)

'sADİME*DENİZ*AYŞE*KARDEŞ*'

In [193]:
"sADİME?DENİZ?AYŞE?KARDEŞ?".replace("?","*", 5)

'sADİME*DENİZ*AYŞE*KARDEŞ*'

In [194]:
"sADİME?DENİZ?AYŞE?KARDEŞ?".replace("?","*", 5).replace("E","e").title().replace("*"," ")

'Sadi̇me Deni̇z Ayşe Kardeş '

## is ile başlayan metotlar - mudur manasında. Şu mudur diye sorar.

### isalnum - string ifade alpha numerik midir diye sorar

In [195]:
"techopro99".isalnum()

True

In [196]:
"techopro-99".isalnum()

False

### islower - tüm karakterler küçük karaktermidir

In [197]:
"techopro".islower()

True

In [198]:
"Techopro".islower()

False

### isnumeric -

In [199]:
"-5".isnumeric()

False

In [200]:
"-5".isidentifier()

False

In [201]:
"0.5, 1.2".isdigit()

False

In [202]:
"1/5".isdigit()

False

In [203]:
"Techopro, Ayşe, Ratma".istitle()

True

In [204]:
"123".isnumeric()

True

### count - kaç eleman olduğunu sayar

In [205]:
"Tecnopro Education".count("")

19

In [206]:
"Tecnopro Education".count("e")

1

In [207]:
"Tecnopro Education".count("e","t") # sadece tek karakter sayar

TypeError: slice indices must be integers or None or have an __index__ method

In [210]:
"Tecnopro Education".count("e" or "o")

1

In [211]:
"Tecnopro Education".count("o" or "e")

3

## split - Stringleri boşluklara göre ayırır.Default değeri boşluktur ama değer verirsek ona göre ayırır. Stringlere ait bir komuttur ama sonucu LİSTE olarak verir.

In [212]:
str_1 = "Techpro is the best course in the world"

In [213]:
str_1.split()

['Techpro', 'is', 'the', 'best', 'course', 'in', 'the', 'world']

In [214]:
str_1.split("o")

['Techpr', ' is the best c', 'urse in the w', 'rld']

In [215]:
str_1.split("ç")

['Techpro is the best course in the world']

In [216]:
str_1.split().count("is") # Liste olduğu için listedeki elemana bakar. Hepsine bakmaz

1

## maxsplit - splitte kaç defa böleceğine karar veririrz

In [217]:
str_1.split("o")

['Techpr', ' is the best c', 'urse in the w', 'rld']

In [218]:
str_1.split("o", maxsplit=2) # sadece 2 defa böl dediğim için 2 defa böldü

['Techpr', ' is the best c', 'urse in the world']

## strip()  - baştaki ve sondaki boşlukları siler - default karakter boşluktur, istdiğimiz karakteri temizler baştan ve sondan

In [219]:
"             Tech Pro         ".strip()

'Tech Pro'

In [220]:
"************* Tech Pro ******".strip("*")

' Tech Pro '

In [221]:
"************* Tech Pro ******".rstrip("*") # rstrip ile sağdakileri siler

'************* Tech Pro '

In [222]:
"************* Tech Pro ******".lstrip("*") # lstrip ile sağdakileri siler

' Tech Pro ******'

In [223]:
"Tech is the besssttstt".strip("t")

'Tech is the bessstts'

In [224]:
"Tech is the besssttstt".strip("ts") # Baştan ve sontan s ve t ve st ve ts nin tamamını siler başka bir karakterle karşılaşana kadar

'Tech is the be'

05.02.2024

# if, elif, else, statement

## if - eğer

In [230]:
if 5 > 2 :
    print("5, 2 den büyüktür")

5, 2 den büyüktür

In [234]:
if 5 < 2 :
    print("Bu kod boolean sonuç False olduğu için çıktı alamayız")

In [231]:
if True : 
    print(8*4)

32

In [235]:
if False :
    print ("Bu kod çalışacak ama çıktı vermeyecek")

In [232]:
if "techpro" :
    print("Bu kod kesinlikle çalışır. çünkü string ifadeler truthy dir")

Bu kod kesinlikle çalışır. çünkü string ifadeler truthy dir

In [236]:
if 8 == 8 :
    print("Acaba çıktı verir mi?")

Acaba çıktı verir mi?

In [239]:
if 5 > 4 : 
    print("5 büyüktür 4")
    print(5 + 4)
    age = 22
    print("Yaş :", age)
    print(5*3+age)

5 büyüktür 4
9
Yaş : 22
37

## else - eğer değilse

In [240]:
if 5 > 4 :
    print ("if kısmı çalışır")
else :
    print("else kısmı çalışır")

if kısmı çalışır

In [241]:
if 5 < 4 :
    print("if kısmı çalışır")
else : 
    print("else kısmı çalışır")

else kısmı çalışır

## if, elif - eğer veya eğer

In [242]:
x = 8
if x < 8 :
    print("if çalışır")
elif x == 9 :
    print("1. elif çalışır")
elif x > 10 :
    print ("2. elif çalışır")
elif x < 10 :
    print("3. elif çalışır")

3. elif çalışır

## if, elif, else - eğer, veya eğer, değilse

In [243]:
x = int(input("Lütfen 0 ile 50 arasında bir sayı giriniz"))
if x < 10 :
    print("Sayı 10 dan küçüktür")
elif x < 35:
    print ("Sayı 35 ten küçüktür")
elif x <= 50 :
    print("Sayı 50 ye eşit veya küçüktür")
else :
    print("Sayı 0 ile 50 arasında değildir")

Sayı 50 ye eşit veya küçüktür

In [245]:
kh = int(input("Lütfen Kahoot sonucunuzu yazınız"))
if 0 <= kh <= 5 :
    print("Dahi misin?")
elif 5 < kh <= 10 :
    print("Şaka mısın sen")
elif 10 < kh <= 15 :
    print("Süpersin")
else :
    print("Sonucunu doğru dürüst gir")

Süpersin

# Lists - Listelerin içine hertürlü veriyi alır

In [225]:
# mutable - değiştirilebilir
# iterible * elemanlarına tek tek ulaşabilirsiniz
# Listeler elemanlarını virgüllerle ayırır.
# aynı eleman listede birden fazla olabilir
[] # iki farklı yöntemle oluşturulabilir.
list()

[]

In [226]:
liste_1 = [1, 2, "Mustafa", False, 0.0, 1.2]
liste_1

[1, 2, 'Mustafa', False, 0.0, 1.2]

In [227]:
len(liste_1)

6

In [228]:
liste_2 = list("Techpro")
liste_2

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [229]:
liste_3 = list("Techpro", "Education") # Bu yöntemle sadece tek eleman yazabiliriz
liste_3

TypeError: list expected at most 1 argument, got 2

In [246]:
liste_7 = list("Techpro" "Education") # Virgül koymadan yazabiliriz. Tek string olarak görür.
print(liste_7)

['T', 'e', 'c', 'h', 'p', 'r', 'o', 'E', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n']

In [247]:
len(liste_7)

16

In [254]:
liste_8 = list(123)
liste_8

TypeError: 'int' object is not iterable

In [ ]:
liste_8 = list("123")
liste_8

['1', '2', '3']

In [255]:
liste_5 = ["Techpro"]
liste_5

['Techpro']

In [261]:
liste_10 = list("Techpro")
liste_10

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [262]:
liste_11 = list("Techpro", "Education") # Bu yöntemle 1 Eleman yazılabilir.
liste_11

TypeError: list expected at most 1 argument, got 2

In [251]:
liste_6 = [2, 3.1, False, "Ahmet", liste_2] # Liste içindee liste yazılabilir.
liste_6

[2, 3.1, False, 'Ahmet', ['T', 'e', 'c', 'h', 'p', 'r', 'o']]

In [263]:
len(liste_6)

5

In [264]:
liste_9 = [3, 3.4, "Orkun", False, [1, 2, 3, 4, 5]]
liste_9

[3, 3.4, 'Orkun', False, [1, 2, 3, 4, 5]]

### Listelerde indexleme var

In [265]:
liste_9[2]

'Orkun'

In [266]:
liste_9[1:4]

[3.4, 'Orkun', False]

In [267]:
liste_9[2].upper()

'ORKUN'

In [268]:
liste_9[2].upper().count("R")

1

In [269]:
liste_9

[3, 3.4, 'Orkun', False, [1, 2, 3, 4, 5]]

In [270]:
len(liste_9[2])

5

In [271]:
liste_9[2][3]

'u'

In [272]:
str(liste_9[1])[1]

'.'

In [273]:
potpori = ["Seyda", 3.14, True, 7, [1, 2, 3, 4, 5, 6]]
potpori

['Seyda', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

In [274]:
potpori[0] = "Betül"

In [275]:
potpori

['Betül', 3.14, True, 7, [1, 2, 3, 4, 5, 6]]

06.02.2024

# Basic Operations with Lists

In [276]:
sayılar_1 = [1, 2, 3, 4, 5]
sayılar_1

[1, 2, 3, 4, 5]

## Append - Listeye eleman eklemek 
    #### 1 den fazla eleman eklemez - Kaç defa çalıştırırsam kodu o kadar defa daha elemanı listenin sonuna ekler

In [277]:
sayılar_1.append(7) # Kaç defa çalıştırırsam o kadar yeni elemanı eklar
sayılar_1

[1, 2, 3, 4, 5, 7]

## İnsert() - Listeye eleman ekleme yontemi
    #### yeni elemanı istediğimiz yere ekler

In [278]:
sayılar_2 = [11, 12, 13, 14, 15]
sayılar_2

[11, 12, 13, 14, 15]

In [279]:
sayılar_2.insert(1, 20) # 1. Elemanın önüne 20 sayısını ekle dedik. Kaç defa çalıştırırsan o kadar ekler
sayılar_2

[11, 20, 12, 13, 14, 15]

## Remove() - Listeden eleman silmek
    ### Silmek istediğin değer listede 1 den fazla ise ilk gördüğünü siler diğerlerini silmez.

In [280]:
sayılar_3 = [1, 2, 3, 2, 5, 3, 4, 2, 6, 4, 5]
sayılar_3

[1, 2, 3, 2, 5, 3, 4, 2, 6, 4, 5]

In [281]:
sayılar_3.remove(2) # 3 de
sayılar_3

[1, 3, 2, 5, 3, 4, 2, 6, 4, 5]

In [282]:
sayılar_3.remove(2)
sayılar_3

[1, 3, 5, 3, 4, 2, 6, 4, 5]

In [283]:
isimler_1 = ["Fulya", "Ahmet", "Mehmet"]
isimler_1

['Fulya', 'Ahmet', 'Mehmet']

In [284]:
isimler_1.remove("Ahmet")
isimler_1

['Fulya', 'Mehmet']

In [285]:
isimler_1[0] = "Deniz"
isimler_1

['Deniz', 'Mehmet']

In [286]:
isimler_1.append("Sadime")
isimler_1

['Deniz', 'Mehmet', 'Sadime']

In [287]:
isimler_1.insert(1, "Ayşe")

In [288]:
isimler_1

['Deniz', 'Ayşe', 'Mehmet', 'Sadime']

## Pop () - Listenin indeksindeki elemanı siler. Bir şey yazmazsanız son elemanı siler

In [289]:
sayılar_1

[1, 2, 3, 4, 5, 7]

In [290]:
sayılar_1.pop()

7

In [291]:
sayılar_1.pop(3)
sayılar_1

[1, 2, 3, 5]

In [292]:
isimler_1

['Deniz', 'Ayşe', 'Mehmet', 'Sadime']

In [293]:
isimler_1.pop(2)

'Mehmet'

In [294]:
isimler_1

['Deniz', 'Ayşe', 'Sadime']

# Count() - Listedeki sorulan elemanın sayısını sayar

In [295]:
sayılar_5 = [1, 2, 3, 4, 5, 2, 2, 6, 7, 8, 9, 5, 6, 7, 10, 22]
sayılar_5

[1, 2, 3, 4, 5, 2, 2, 6, 7, 8, 9, 5, 6, 7, 10, 22]

In [303]:
sayılar_5.count() # Sayacağımız elemanın ne olduğunu belirtmemiz lazım yoksa hata verir

TypeError: list.count() takes exactly one argument (0 given)

In [296]:
sayılar_5.count(2) # Listede 3 tane 2 sayısı var

3

In [297]:
karışık_1 = [1, 0.0, False, 2, True, 1, 1.0, 0]
karışık_1

[1, 0.0, False, 2, True, 1, 1.0, 0]

In [298]:
karışık_1.count(0)

3

## Clear - Listeyi temizler. Boş liste kalır.

In [299]:
karışık_1.clear()
karışık_1

[]

# Del() - Tüm listeyi siler

In [300]:
del karışık_1

In [301]:
karışık_1

NameError: name 'karışık_1' is not defined

# Sort() - Aynı tipteki verileri sıralar

In [304]:
sayılar_6 = [4, 8, 3, 5, 15, 5.5, 26, 41, 12]
sayılar_6

[4, 8, 3, 5, 15, 5.5, 26, 41, 12]

In [305]:
sayılar_6.sort()
sayılar_6

[3, 4, 5, 5.5, 8, 12, 15, 26, 41]

#### .sort(reverse = ) - Tersten sıralar - reverse değeri default false dur

In [309]:
sayılar_6.sort(reverse = True)

In [310]:
sayılar_6

[41, 26, 15, 12, 8, 5.5, 5, 4, 3]

In [311]:
isimler_1

['Ayşe', 'Deniz', 'Sadime']

In [314]:
isimler_1.sort() # ASCI değerine göre sıralar
isimler_1

['Ayşe', 'Deniz', 'Sadime']

In [315]:
isimler_1.sort(reverse = True) # ASCI değerine göre tersten sıralar
isimler_1

['Sadime', 'Deniz', 'Ayşe']

# Extend() - Listeye 1 den fazla eleman eklenmesini sağlar

In [316]:
liste_10 = [1, 2, 3]
liste_10

[1, 2, 3]

In [317]:
liste_10.extend([4, 5])

In [318]:
liste_10

[1, 2, 3, 4, 5]

In [319]:
liste_10.extend("Techpro") # her elemanı tek tek alır

In [320]:
print(liste_10)

[1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']

## Listelede toplama işlemi yapılabilir

In [321]:
liste_10

[1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']

In [322]:
liste_9

[3, 3.4, 'Orkun', False, [1, 2, 3, 4, 5]]

In [323]:
print(liste_9 + liste_10)

[3, 3.4, 'Orkun', False, [1, 2, 3, 4, 5], 1, 2, 3, 4, 5, 'T', 'e', 'c', 'h', 'p', 'r', 'o']

## Listelerde çarpma işlemi yapılabilir

In [ ]:
liste_8

['1', '2', '3']

In [ ]:
liste_8 * 3

['1', '2', '3', '1', '2', '3', '1', '2', '3']

In [ ]:
[3] * 3 # listelerde çarpma kaç ile çarpılıyorsa o kadar tekrar etmesi demek

[3, 3, 3]

In [ ]:
liste_8 * liste_9 #listeler tam sayı ile çarpılabilir birbiriyle çarpılmaz

TypeError: can't multiply sequence by non-int of type 'list'

## Listelerde çıkarma ve bölme yapılmaz

08.02.2024

# TUPLES

In [324]:
# immutable - değiştirilemez
# iterible - ulaşılamaz
# Daha hızlı
# Daha güvenilir
# 2 yöntemle oluşturulur
        # 1- tuple()
        # 2- ()

In [325]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [326]:
tuple([1, 2, 3, 4, 5]) # Listeyi tuple a dönüşürebiliriz.

(1, 2, 3, 4, 5)

In [327]:
tuple_1 = ("Techpro", 3, 3.4, False, [1, 2,3])

In [328]:
tuple_1

('Techpro', 3, 3.4, False, [1, 2, 3])

In [329]:
type(tuple_1)

tuple

In [331]:
tuple(123) #iterible olduğu için hata verdi

TypeError: 'int' object is not iterable

In [332]:
name = "Başak"

In [333]:
tuple(name)

('B', 'a', 'ş', 'a', 'k')

In [334]:
number_1 = 1, 2, 3, 4
tuple(number_1)

(1, 2, 3, 4)

In [335]:
list(number_1)

[1, 2, 3, 4]

In [336]:
["Techpro"]

['Techpro']

In [337]:
("Techpro") # Tek elemanlı tuple böyle oluşturulmaz

'Techpro'

In [342]:
("Techpro" , ) # Tek elemanlı bir tuple oluşturmak için sonuna virgül koyulur

('Techpro',)

In [364]:
type(('Techpro',))

tuple

In [365]:
type('Techpro',)

str

In [366]:
len(('Techpro',))

1

In [367]:
["Techpro", 3, 3.14, False] # liste

['Techpro', 3, 3.14, False]

In [363]:
("Techpro", 3, 3.14, False)

('Techpro', 3, 3.14, False)

In [362]:
liste_11 = 1, 2, 3, 4 # köşeli parantez kullanmazsak liste değil tuple oluşturulur.
liste_11

(1, 2, 3, 4)

## Tuple larda toplama yapılır

In [368]:
("Techro", 3, False) + ("Sedat", )

('Techro', 3, False, 'Sedat')

### Tuple larda çarpma yapılır

In [369]:
("Techro", 3, False) * 3

('Techro', 3, False, 'Techro', 3, False, 'Techro', 3, False)

### Tuple larda çıkarma ve çarpma yapılmaz

## indexing - Tuple larda indexleme yapılır

In [370]:
tuple_2 = ("Aslan", 4, True, ["Tülay", 5, 6], ("Zeynep", 2, 3.14))
tuple_2

('Aslan', 4, True, ['Tülay', 5, 6], ('Zeynep', 2, 3.14))

In [371]:
tuple_2[3]

['Tülay', 5, 6]

In [372]:
tuple_2[3][0]

'Tülay'

In [373]:
tuple_2[3][0][1]

'ü'

### Slicing - Belli bir aralıktaki elemanları görüntüleme

In [374]:
tuple_2

('Aslan', 4, True, ['Tülay', 5, 6], ('Zeynep', 2, 3.14))

In [375]:
tuple_2[1:4]

(4, True, ['Tülay', 5, 6])

In [377]:
tuple_2[0:4:2] # sondaki 2 adım sayısı.

('Aslan', True)

#### Tuple lar değiştirilemez

In [378]:
tuple_2[0]

'Aslan'

In [379]:
tuple_2[0] = "Merve" # Tuple lar değiştirilemez. Ancak tuple in elemanının özelliklerine göre değiştirilebilir.
                    # örneğin içinde liste varsa listenin içindeki değiştirilebilireceği için Tuple in içindeki liste değiştirilebilir.

TypeError: 'tuple' object does not support item assignment

In [380]:
tuple_2[3]

['Tülay', 5, 6]

In [381]:
tuple_2[3].append("Merve") # Tuple lar değiştirilemez. Ancak tuple in elemanının özelliklerine göre değiştirilebilir.
                    # örneğin içinde liste varsa listenin içindeki değiştirilebilireceği için Tuple in içindeki liste değiştirilebilir.
tuple_2

('Aslan', 4, True, ['Tülay', 5, 6, 'Merve'], ('Zeynep', 2, 3.14))

### Del - Tuple ın tamamını silebilirsin ama içindeki bir elemanı silemezsin

In [382]:
del tuple_2[3]

TypeError: 'tuple' object doesn't support item deletion

### Tuple içindeki stringlere ulaşıp striglerde uygulanan yöntemleri uygulayabiliriz

### Tuple içindeki listelere ulaşıp listelerde uygulanan yöntemleri uygulayabiliriz

In [383]:
tuple_2

('Aslan', 4, True, ['Tülay', 5, 6, 'Merve'], ('Zeynep', 2, 3.14))

In [384]:
tuple_2[3][0]

'Tülay'

In [387]:
tuple_2[3][0].upper() # Tuple içindeki listeye ordanda liste içindeki string ifadeye ulaşıp ona striglere uygulanan yöntemleri uyguladık
                        #bu geçici bir işlem tuple_2 yi çağırınca eğişiklikler görünmez

'TÜLAY'

In [386]:
tuple_2

('Aslan', 4, True, ['Tülay', 5, 6, 'Merve'], ('Zeynep', 2, 3.14))

## Tuple Methods

### Count

In [388]:
tuple_2

('Aslan', 4, True, ['Tülay', 5, 6, 'Merve'], ('Zeynep', 2, 3.14))

In [389]:
tuple_2.count(4) # Tuuple içindeki 4 kaç tane var

1

### index() - İçine yazığımız elemanın tuple içinde kaçıncı index te olduğunu gösterir

In [390]:
tuple_2

('Aslan', 4, True, ['Tülay', 5, 6, 'Merve'], ('Zeynep', 2, 3.14))

In [391]:
tuple_2.index(True) # True elemanı 2. indexte

2

In [392]:
tuple_2.index(['Tülay', 5, 6, 'Merve']) # Liste tuple içinde 3. indexte

3

In [393]:
tuple_2.index(4)

1

# Range()

#### Range fonsiyonu start noktasından stop noktasına kadar olan sayıları üretir. Tek başına kullanılmaz. Liste ve Tuple olarak kullanılır

##### itterable - ulaşılamaz

In [394]:
range(4, 10)

range(4, 10)

In [395]:
list(range(4, 10))

[4, 5, 6, 7, 8, 9]

In [396]:
tuple(range(4, 10))

(4, 5, 6, 7, 8, 9)

In [397]:
range(4, 10)[1]

5

In [398]:
list(range(10)) # range fonsiyonunun default değeri 0 dır. İçine tek sayı yazarsanız 0 dan başlayıp o sayıya kadar üretir.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [399]:
list(range(1, 10, 2)) # range ile adım sayısı verebiliriz

[1, 3, 5, 7, 9]

In [400]:
list(range(-5, 10, 2)) # Start noktası - sayılar olabilir

[-5, -3, -1, 1, 3, 5, 7, 9]

09.02.2024

# Dictionaries

In [401]:
# mutable - değiştirilebilir
# iteriable - ulaşılabilir
# {} ile veya dict() yöntemiyle oluşturulur
# 2 li sistemler

In [14]:
dict_1 = {"key1": "value1", "key2": "value2"}
dict_1

{'key1': 'value1', 'key2': 'value2'}

In [405]:
len(dict_1) # ikilileri sayıyor. (keyler)

2

In [11]:
ddd ={1 : "Ayşe", 2: "Fatma", 3 : "Zeynep"}

In [412]:
type(ddd)

dict

In [7]:
d_1 = {"elma" : "kırmızı", 1 : "karpuz", 3.14: "Değil mi?" }

In [8]:
d_1

{'elma': 'kırmızı', 1: 'karpuz', 3.14: 'Değil mi?'}

In [9]:
len(d_1)

3

In [12]:
len(ddd)

3

In [15]:
type(dict_1)

dict

## İtems - Dictionary nin elemanlarını gösterir

In [16]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

In [421]:
d_1.items()

dict_items([('elma', 'kırmızı'), (1, 'karpuz'), (3.14, 'Değil mi?')])

## Keys - Dictionary nin anahtarları

In [17]:
dict_1.keys()

dict_keys(['key1', 'key2'])

## Value - Dictionary nin değerleri

In [423]:
dict_1.values()

dict_values(['value1', 'value2'])

In [18]:
dict_2 = {"name" : "Ömer", "age" : 30, "jop" :"Data Scientist"}

In [19]:
dict_2

{'name': 'Ömer', 'age': 30, 'jop': 'Data Scientist'}

In [21]:
dict_2.keys()

dict_keys(['name', 'age', 'jop'])

In [22]:
dict_2.values()

dict_values(['Ömer', 30, 'Data Scientist'])

### İndexleme - index numarasıyla değil keylerle indexleyebiliyoruz

In [23]:
dict_2[0] # Dictionay ler index numarasıyla çağrılamaz. key ismiyle çağrılır indexlenir.

KeyError: 0

In [24]:
dict_2["name"]

'Ömer'

#### İnput la dictionaries a veri aktarabiliriz

In [430]:
dict_3 = {"name" : input("İsminizi giriniz.")}

In [431]:
dict_3

{'name': 'Sadime'}

## Key oluşturma

#### Dictionaries lerde: KEY olarak sayılar, string ifadeler, boolean lar, Tuple lar, floatlar KULLANILABİLİR
        #### Listeler KEY olarak KULLANILMAZ

In [73]:
dict_4 = {0 : "zero", 2: "elmas", 3.14: "pi number", "name": "Sadime", True : 5.13, (1, 2,3) : "sayılar listesi"}

In [433]:
print(dict_4) ## Dictionaries lerde: KEY olarak sayılar, string ifadeler, boolean lar, Tuple lar, floatlar KULLANILABİLİR
        ### Listeler KEY olarak KULLANILMAZ

{0: 'zero', 2: 'elmas', 3.14: 'pi number', 'name': 'Sadime', True: 5.13, (1, 2, 3): 'sayılar listesi'}

### Dictionaries lerde value olarak LİSTELER kullanılabilir ve DEĞİŞTİRİLEBİLİR

In [21]:
dict_5 = {"öğrenci": ["Orkun", 32, "data science"], "öğrenci2" : ["Birkay", 25, "python developer"]}

In [435]:
dict_5

{'öğrenci': ['Orkun', 32, 'data science'],
 'öğrenci2': ['Birkay', 25, 'python developer']}

In [436]:
dict_5.keys()

dict_keys(['öğrenci', 'öğrenci2'])

In [437]:
dict_5["öğrenci"]

['Orkun', 32, 'data science']

In [438]:
dict_5["öğrenci"][1]

32

In [439]:
dict_5["öğrenci"][1] = 36

In [440]:
dict_5

{'öğrenci': ['Orkun', 36, 'data science'],
 'öğrenci2': ['Birkay', 25, 'python developer']}

### Dictionaries lerde value TUPLE olarak kullanılabilir ama DEĞİŞTİRİLEMEZ

In [25]:
dict_6 = {"öğrenci": ("Orkun", 32, "data science"), "öğrenci2" : ("Birkay", 25, "python developer")}

In [26]:
dict_6

{'öğrenci': ('Orkun', 32, 'data science'),
 'öğrenci2': ('Birkay', 25, 'python developer')}

In [28]:
dict_6["öğrenci"](1)

TypeError: 'tuple' object is not callable

In [10]:
dict_6["öğrenci"][1] = 36

TypeError: 'tuple' object does not support item assignment

### dict() fonsiyonuyla dictionary oluşturma

In [12]:
dict(one = 1, two = 2, three = 3)

{'one': 1, 'two': 2, 'three': 3}

In [13]:
dict(1 = one, 2 = two, 3 = three) ### Bu yöntemle key olarak sayıları kullanamıyoruz.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2719206730.py, line 1)

### Listeleri Dictionaries a çevrilmesi -  ikili itemlere dönüşmesi

In [14]:
liste_12 = [("name6", "Sadime"), ("name7", "Ayşe"), ("name8", "Deniz")] ## İçinde tuple ikilileri olan bir liste oluşturduk. Çıktısı dictionary e benziyor
liste_12

[('name6', 'Sadime'), ('name7', 'Ayşe'), ('name8', 'Deniz')]

In [15]:
dict(liste_12) ## Yaptığımız liste dictionaries in tipine benzediği için listeyi direkt dictionary e çevirebiliyoruz

{'name6': 'Sadime', 'name7': 'Ayşe', 'name8': 'Deniz'}

### Dictionaries i Listeye çevirmek

In [16]:
dict_6

{'öğrenci': ('Orkun', 32, 'data science'),
 'öğrenci2': ('Birkay', 25, 'python developer')}

In [18]:
list(dict_6) # Sadece keyler

['öğrenci', 'öğrenci2']

In [19]:
list(dict_6.items) # Elemanları tuple olduğu için

TypeError: 'builtin_function_or_method' object is not iterable

In [24]:
dict_5

{'öğrenci': ['Orkun', 32, 'data science'],
 'öğrenci2': ['Birkay', 25, 'python developer']}

In [26]:
list(dict_5)  ## Sadece keylerini listeye çevirebiliyoruz

['öğrenci', 'öğrenci2']

In [27]:
list(dict_5.items())

[('öğrenci', ['Orkun', 32, 'data science']),
 ('öğrenci2', ['Birkay', 25, 'python developer'])]

In [28]:
liste_13 = list(dict_5.items())
liste_13 ### Artık buna listelerde yapılan herşeyi yapabiliriz

[('öğrenci', ['Orkun', 32, 'data science']),
 ('öğrenci2', ['Birkay', 25, 'python developer'])]

In [29]:
bdict_1 = {"Friend1": "Ayşe", "Friend2": "Özgül", "Friend3": "Esra"}
bdict_1

{'Friend1': 'Ayşe', 'Friend2': 'Özgül', 'Friend3': 'Esra'}

In [31]:
len(bdict_1)

3

In [30]:
bdict_1["Friend1"]

'Ayşe'

### Dictionaries e eleman eklema - Key assing ediyoruz

In [31]:
bdict_1["Friend4"] = "İlknur"

In [32]:
bdict_1

{'Friend1': 'Ayşe', 'Friend2': 'Özgül', 'Friend3': 'Esra', 'Friend4': 'İlknur'}

#### Value lar birden fazla aynı değer olabilir

In [34]:
bdict_1["Friend5"] = "Ayşe"
bdict_1

{'Friend1': 'Ayşe',
 'Friend2': 'Özgül',
 'Friend3': 'Esra',
 'Friend4': 'İlknur',
 'Friend5': 'Ayşe'}

### Keyler unic dir tektir. Aynı key den 1 den fazla olamaz

In [35]:
bdict_1["Friend5"] = "Selma"
bdict_1

{'Friend1': 'Ayşe',
 'Friend2': 'Özgül',
 'Friend3': 'Esra',
 'Friend4': 'İlknur',
 'Friend5': 'Selma'}

### Keyi silmek

In [36]:
del bdict_1["Friend4"]
bdict_1

{'Friend1': 'Ayşe', 'Friend2': 'Özgül', 'Friend3': 'Esra', 'Friend5': 'Selma'}

### Dictionaries in valu kısmına eleman eklemek

In [58]:
sayılar_7 = {"tek sayılar" : [], "çift sayılar" : []}
sayılar_7

{'tek sayılar': [], 'çift sayılar': []}

In [40]:
sayılar_7["tek sayılar"].append(1) # append komutuyla tek tek eklenebilir. Ama Hem zahmetli hem de her çalıştırdığımızda tekrar ekliyor
sayılar_7

{'tek sayılar': [1], 'çift sayılar': []}

## extend(range(metodu))

In [41]:
sayılar_7

{'tek sayılar': [1], 'çift sayılar': []}

In [59]:
sayılar_7["tek sayılar"].extend(range(1, 10, 2))
sayılar_7["çift sayılar"].extend(range(0, 11, 2))
sayılar_7

{'tek sayılar': [1, 3, 5, 7, 9], 'çift sayılar': [0, 2, 4, 6, 8, 10]}

## Basic Operation with Dictionaries - Dictionaries in Metotları

### Update - Bu metotla key ve value yu yani bir dictionary yi ekliyoruz

In [37]:
bdict_1

{'Friend1': 'Ayşe', 'Friend2': 'Özgül', 'Friend3': 'Esra', 'Friend5': 'Selma'}

In [38]:
bdict_1.update({"Friend7" : "Hilal"})
bdict_1

{'Friend1': 'Ayşe',
 'Friend2': 'Özgül',
 'Friend3': 'Esra',
 'Friend5': 'Selma',
 'Friend7': 'Hilal'}

In [40]:
del bdict_1["friend5"]

KeyError: 'friend5'

In [41]:
bdict_1

{'Friend1': 'Ayşe',
 'Friend2': 'Özgül',
 'Friend3': 'Esra',
 'Friend5': 'Selma',
 'Friend7': 'Hilal'}

In [42]:
bdict_1["Friend5"] = "Selma"
bdict_1

{'Friend1': 'Ayşe',
 'Friend2': 'Özgül',
 'Friend3': 'Esra',
 'Friend5': 'Selma',
 'Friend7': 'Hilal'}

In [43]:
bb = {"Friend6": "Fatma"}

In [44]:
bb

{'Friend6': 'Fatma'}

In [45]:
bdict_1.update(bb)

In [46]:
bdict_1

{'Friend1': 'Ayşe',
 'Friend2': 'Özgül',
 'Friend3': 'Esra',
 'Friend5': 'Selma',
 'Friend7': 'Hilal',
 'Friend6': 'Fatma'}

#### Dictionaries lerde Toplama, Çıkarma, Çarpma, Bölme Yapılamaz

## Clear () - Tüm dictionaries i boşaltır

In [70]:
dict_6

{'öğrenci': ('Orkun', 32, 'data science'),
 'öğrenci2': ('Birkay', 25, 'python developer')}

In [71]:
dict_6.clear()
dict_6

{}

## Pop() - Listelerde indexine göre eleman siler. Boş ise en sondakiniz siler
### Ama dictionary de boş bırakamayız. sıralama olmadığı için hata verir. Keyini yazmak zorundayız.

In [74]:
dict_4

{0: 'zero',
 2: 'elmas',
 3.14: 'pi number',
 'name': 'Sadime',
 True: 5.13,
 (1, 2, 3): 'sayılar listesi'}

In [75]:
dict_4.pop(3.14)
dict_4

{0: 'zero',
 2: 'elmas',
 'name': 'Sadime',
 True: 5.13,
 (1, 2, 3): 'sayılar listesi'}

10.02.2024

## Nested Dictionaries - iç içe dictionaries

In [47]:
myfamily = {"child_1" : {"name" : "Emily", "year": 2004},
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

In [48]:
myfamily.items()

dict_items([('child_1', {'name': 'Emily', 'year': 2004}), ('child_2', {'name': 'Tobias', 'year': 2007}), ('child_3', {'name': 'Linus', 'year': 2011})])

In [49]:
myfamily.keys()

dict_keys(['child_1', 'child_2', 'child_3'])

In [50]:
myfamily.values()

dict_values([{'name': 'Emily', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [51]:
myfamily["child_1"]

{'name': 'Emily', 'year': 2004}

In [52]:
myfamily["child_1"].items()

dict_items([('name', 'Emily'), ('year', 2004)])

In [53]:
myfamily["child_2"]

{'name': 'Tobias', 'year': 2007}

In [54]:
myfamily["child_2"]["name"]

'Tobias'

In [55]:
myfamily = {"child_1" : {"name" : ("Emily","Rose"), "year": 2004},
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

In [87]:
myfamily["child_1"]

{'name': ('Emily', 'Rose'), 'year': 2004}

In [88]:
myfamily["child_1"]["name"]

('Emily', 'Rose')

In [89]:
myfamily["child_1"]["name"][0]

'Emily'

In [90]:
myfamily["child_1"]["name"][1]

'Rose'

In [91]:
myfamily["child_2"]

{'name': 'Tobias', 'year': 2007}

10.02.2024

# format & f string

In [56]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is " + name + " " + surName + " and \nI'm " + str(age) + " years old."

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [57]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is {} {} and \nI'm {} years old.".format(name, surName, age)

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [58]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is {1} {2} and \nI'm {0} years old.".format(age, name, surName)

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [59]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = "My name is {n} {s} and \nI'm {a} years old.".format(s=surName, n=name, a=age)

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [60]:
name = "Ahmet"
surName = "Altın"
age = 36

greeting = f"My name is {name} {surName} and \nI'm {age} years old."

print(greeting)

My name is Ahmet Altın and
I'm 36 years old.

In [61]:
str1 = "{2}, {1} and {0}".format("a", "b", "c")
str2 = "{0}{1}{0}{0}{0}{1}{1}".format("abra", "cad")

print(str1, str2, sep="\n")

c, b and a
abracadabraabraabracadcad

In [62]:
greeting

"My name is Ahmet Altın and \nI'm 36 years old."

In [65]:
print(*greeting, sep="_")

M_y_ _n_a_m_e_ _i_s_ _A_h_m_e_t_ _A_l_t_ı_n_ _a_n_d_ _
_I_'_m_ _3_6_ _y_e_a_r_s_ _o_l_d_.

# string methods

In [66]:
print(greeting.upper())

MY NAME IS AHMET ALTIN AND
I'M 36 YEARS OLD.

In [67]:
print(greeting.upper().lower())

my name is ahmet altin and
i'm 36 years old.

In [68]:
print("bu yazıyı farketmenizle".upper(),
      "FARK ETMEMENİZİN,".lower(),
      "hiç bir şey fark etmediğini".capitalize(),
      "fARK eDECEKSİNİZ.".title(),
      sep="\n")

BU YAZIYI FARKETMENIZLE
fark etmemeni̇zi̇n,
Hiç bir şey fark etmediğini
Fark Edeceksi̇ni̇z.

In [69]:
print("Çekoslavakyalılaştıramadıklarımızdan mısınız?"
      .replace("e", "a")
      .replace("o", "ö")
      .replace("ı", "_")
      .split("_"))

['Çaköslavakyal', 'laşt', 'ramad', 'klar', 'm', 'zdan m', 's', 'n', 'z?']

In [70]:
str1 = "tECHPRO iS tHE bEST cOURSE iN tHE wORLD!"

print(*str1.swapcase())
print(*str1.title())

T e c h p r o   I s   T h e   B e s t   C o u r s e   I n   T h e   W o r l d !
T e c h p r o   I s   T h e   B e s t   C o u r s e   I n   T h e   W o r l d !

In [71]:
print(str1.split("E", maxsplit=3))

['t', 'CHPRO iS tH', ' b', 'ST cOURSE iN tHE wORLD!']

In [72]:
str1 = str1.capitalize()
str1

'Techpro is the best course in the world!'

In [73]:
print(*str1.split("h"), sep="☺\n")

Tec☺
pro is t☺
e best course in t☺
e world!

In [74]:
len(str1)

40

In [75]:
print(str1.center(50, "*"))

*****Techpro is the best course in the world!*****

In [76]:
print(str1.rjust(50, "*"))

**********Techpro is the best course in the world!

In [77]:
print(str1.ljust(50, "*"))

Techpro is the best course in the world!**********

In [78]:
str2 = str1.center(45, "*").center(50, "♦").ljust(55, "!").rjust(60, "☻")
str2

'☻☻☻☻☻♦♦***Techpro is the best course in the world!**♦♦♦!!!!!'

In [79]:
str2.strip("☻,*,♦,!")

'Techpro is the best course in the world'

In [80]:
str3 = str2.find("the", 10, 25)
str3

21

In [81]:
str4 = str1.rfind("the")
str4

30

# SETS - KÜMELER

 - mutable - değiştirilebilir
 - iterable - ulaşılabilir
 - unorder - sıralamalı değildir. o yüzden indexlenemezler
  - aynı karakter 2 defa gelmez
 - set leri oluşturmak için 2 yöntem var.
            # set()
            # {}
 - Büyük küçük harfe duyarlı
 - Bidiğimiz yöntemle indexlenemezler. Çünkü unorder dır. Sıralı çıktı vermezler
 - Setler içine listeyi almaz ama diğer tipleri (tuple vs) ı alır
 - Setler içine dictionary almaz 
 - Setler küme içine küme almaz 
 - Union - Setlerin birleşim kümesi set_1 | set_2
 - İntersection - Setlerin kesişim kümesi set_1 & set_2
 - Differance - Setlerin fark kümesi set_1 - set_2
 - Simetrik Diffarance -  ^  simetrik differance karşılıklı farklaeı alır

In [94]:
set("Hello") # aynı elemanı 2 defa almaz

{'H', 'e', 'l', 'o'}

In [95]:
set("HelLo") # 2 L karfini aldı çünkü büyük küçük harfe duyarlı

{'H', 'L', 'e', 'l', 'o'}

In [96]:
set("Techpro")

{'T', 'c', 'e', 'h', 'o', 'p', 'r'}

In [98]:
print(set("Techpro")) # sıralama her seferde farklı gelir

{'h', 'T', 'e', 'r', 'c', 'o', 'p'}

In [99]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [105]:
{"blue", "green", "yellow", "blue", "black", "green"} # 2 green in birini sildi

{'black', 'blue', 'green', 'yellow'}

In [107]:
{"mikail", 25, True, 3.14, [1,2,3], (4, 5, 6)} # setler içine listeyi almaz diğer tipleri alır

TypeError: unhashable type: 'list'

In [109]:
{"mikail", 25, True, 3.14, (4, 5, 6)} # setler içine listeyi almaz diğer tipleri alır. Tuple alır

{(4, 5, 6), 25, 3.14, True, 'mikail'}

In [110]:
{"mikail", 25, True, 3.14, (4, 5, 6), {"name" : "sedat"}} # setler içine dictionary almaz

TypeError: unhashable type: 'dict'

In [111]:
{"mikail", 25, True, 3.14, (4, 5, 6), {"name", "sedat"}} # setler küme içine küme almaz

TypeError: unhashable type: 'set'

#### Boş küme oluşturmak - sadece set yöntemiyle

In [117]:
empty_set = set() # boş liste oluşturmanın tek yolu. {} bu yöntemle oluşturmaya kalkarsak dictionary oluşururuz
empty_set

set()

In [119]:
set("sedat", "techpro") # içine tek eleman alabilir

TypeError: set expected at most 1 argument, got 2

In [82]:
liste__1 = ["kalem", "silgi", "kağıt", "kalem ucu"]
liste__2 = ["silgi", "defter", "kağıt"]

In [83]:
liste__1 + liste__2

['kalem', 'silgi', 'kağıt', 'kalem ucu', 'silgi', 'defter', 'kağıt']

In [84]:
set(liste__1 + liste__2)

{'defter', 'kalem', 'kalem ucu', 'kağıt', 'silgi'}

In [85]:
set_1 = {True, False, 1, 5, 0.0, 3.4}
set_1

{False, True, 3.4, 5}

In [4]:
set_2 = {1, 0.0, True, 5, False, 3.5} # Yazdığımız sıralama önemli, birden fazla eleman olduğunda birini sildiği için önce hangisini yazdıysak diğeriniz siler
set_2

{0.0, 1, 3.5, 5}

### Kümelerin Metotları

In [5]:
set_2

{0.0, 1, 3.5, 5}

In [8]:
set_2[0] ## İndexlenemezler

TypeError: 'set' object is not subscriptable

In [10]:
list(set_2) ## Listeye çevirilebilir

[0.0, 1, 3.5, 5]

## Union, İntersection, Differance

In [93]:
a = set("suzan")
b = set("yavuz")

In [12]:
a

{'a', 'n', 's', 'u', 'z'}

In [13]:
b

{'a', 'u', 'v', 'y', 'z'}

In [14]:
a.union(b)

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [15]:
b.union(a)

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [20]:
a | b # Birleşim - union

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [24]:
a.intersection(b) # Kesişim & - intersection

{'a', 'u', 'z'}

In [25]:
b.intersection(a)

{'a', 'u', 'z'}

In [26]:
a & b

{'a', 'u', 'z'}

In [28]:
a.difference(b) # Fark - (-) differance

{'n', 's'}

In [18]:
b.difference(a)

{'v', 'y'}

In [27]:
a - b

{'n', 's'}

In [86]:
set_3 = set("fıstık")
set_4 = set("fındık")

In [87]:
set_3

{'f', 'k', 's', 't', 'ı'}

In [88]:
set_4

{'d', 'f', 'k', 'n', 'ı'}

In [89]:
set_3 | set_4

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [90]:
set_3 & set_4

{'f', 'k', 'ı'}

In [91]:
set_3 - set_4

{'s', 't'}

In [35]:
set_3 ^ set_4 # simetrik differance karşılıklı farklaeı alır

{'d', 'n', 's', 't'}

## Basic Operation with sets

### Clear()

In [50]:
set_3.clear()
set_3

set()

### remove()

In [94]:
a

{'a', 'n', 's', 'u', 'z'}

In [39]:
a.remove("s")
a

{'a', 'n', 'u', 'z'}

In [41]:
a.remove("e") # içinde "e" yok

KeyError: 'e'

## pop() - Kafasına göre rastgele eleman siler

In [42]:
help(set.pop) # rastgele eleman siler

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [51]:
b

{'v', 'y', 'z'}

In [44]:
b.pop()

'a'

In [45]:
b.pop()

'u'

add()

In [52]:
set_3

set()

In [53]:
set_3.add("a")
set_3

{'a'}

### update - birden fazla eleman eklemek için

In [55]:
set_3.update("techpro")
set_3

{'a', 'c', 'e', 'h', 'o', 'p', 'r', 't'}

## issubset() - Alt kümesi midir diye sorar

In [56]:
set_5 = set("selin")
set_6 = set("enes")

In [57]:
set_5

{'e', 'i', 'l', 'n', 's'}

In [59]:
set_6 # set_6 set_5 in alt kümesi

{'e', 'n', 's'}

In [60]:
set_5.issubset(set_6)  # set_5, set_6 nın alt kümesi midir?

False

In [61]:
set_6.issubset(set_5) #  set_6, set_5 nın alt kümesi midir?

True

In [62]:
set_7 = set("sine")
set_8 = set("enis")

In [63]:
set_7

{'e', 'i', 'n', 's'}

In [64]:
set_8

{'e', 'i', 'n', 's'}

In [65]:
set_7.issubset(set_8)

True

12.02.2024

# LOOPS - DÖNGÜLER

## While

In [ ]:
while 10 > 4: #çalıştırma sonsuz döngü. yada sen bilirsin. istersen çalıştır
    print("bu döngü sonsuza kadar çalışır")

In [1]:
x = 4

while 10 > x:
    print("bu döngü koşul sağlandıkçe çıktı verir.")
    x = x + 1

bu döngü koşul sağlandıkçe çıktı verir.
bu döngü koşul sağlandıkçe çıktı verir.
bu döngü koşul sağlandıkçe çıktı verir.
bu döngü koşul sağlandıkçe çıktı verir.
bu döngü koşul sağlandıkçe çıktı verir.
bu döngü koşul sağlandıkçe çıktı verir.

In [95]:
x = 4

while 10 > x:
    print(x)
    x = x + 1

4
5
6
7
8
9

In [ ]:
x = 1 

while x < 10:
    print(x)

x = x + 1 # işlem döngü içinde olmadığı için sonsuza gider.

In [97]:
while False:
    print("sanki çıktı vermeyecek gbi")

In [ ]:
while True: # çalıştırma sonsuz döngü
    print("Bu kod her türlü çıktı verir. ")

In [3]:
while "":
    print("bu da çıktı vermez")

In [ ]:
# çalıştırma sonsuz döngü
x = 1

while True:
    print(x, "sonsuza gider mi acaba? ")
    x = x + 1 # x += 1

In [98]:
x = 5
x *= 2 # x = x * 2

In [101]:
x

10

In [102]:
x **= 2

In [103]:
x

100

In [104]:
y = True

while y:
    print("while döngüsü condition False olana kadar çalışır")
    y = False # False while ın altında olsaydı sonsuz döngüye gider

while döngüsü condition False olana kadar çalışır

In [19]:
x = 1

while x <= 3:
    print(f"deneme: {x}")
    x += 1

print("3 deneme hakkın bitti")

deneme: 1
deneme: 2
deneme: 3
3 deneme hakkın bitti

In [20]:
x = 1 

while x <= 3:
    print(f"deneme: {x}")
    x += 1

    print("3 deneme hakkın bitti") # print döngü içinde olursa sürekli yazdırır.

deneme: 1
3 deneme hakkın bitti
deneme: 2
3 deneme hakkın bitti
deneme: 3
3 deneme hakkın bitti

In [21]:
x = 1

while x <= 5:
    print(f"{x} in karesi: {x ** 2}")
    x += 1

1 in karesi: 1
2 in karesi: 4
3 in karesi: 9
4 in karesi: 16
5 in karesi: 25

In [22]:
x = int(input("kilomu tahmin et. 10 luk deperler kullanabilirsin. "))

while x < 90:
    print(f"{x} yanlış tahmin. tekrar dene")
    x = int(input("kilomu tahmin et. 10 luk deperler kullanabilirsin. "))

In [24]:
y = True

aklımdaki_sayı = 55

while y:

    tahmin = int(input("1 ile 100 arasında bir sayı tahmin edin."))

    if aklımdaki_sayı < tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini azalt")

    elif aklımdaki_sayı > tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini arttır")

    else:
        print(f"Girdiğiniz sayı : {tahmin}. Doğru bildiniz. Tebrikler. ")
        y = False

Girdiğiniz sayı : 50. Tahminini arttır
Girdiğiniz sayı : 60. Tahminini azalt
Girdiğiniz sayı : 55. Doğru bildiniz. Tebrikler.

In [26]:
y = True   # yukarıdaki örneğe sayaç ekledik

aklımdaki_sayı = 55

sayaç = 0

while y:

    tahmin = int(input("1 ile 100 arasında bir sayı tahmin edin."))

    sayaç += 1

    if aklımdaki_sayı < tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini azalt")

    elif aklımdaki_sayı > tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini arttır")

    else:
        print(f"Girdiğiniz sayı : {tahmin}. {sayaç} kerede bildiniz. Tebrikler. ")

        y = False

    if sayaç == 5:
        y = False

Girdiğiniz sayı : 25. Tahminini arttır
Girdiğiniz sayı : 30. Tahminini arttır
Girdiğiniz sayı : 90. Tahminini azalt
Girdiğiniz sayı : 40. Tahminini arttır
Girdiğiniz sayı : 65. Tahminini azalt

In [27]:
sayılar_listesi = [1, 3, 4, 6, 5, 7]

In [28]:
# listenin elemanlarının karesini döndüren while döngüsünü yazın
x = 0

sayılar_listesi = [1, 3, 4, 6, 5, 7]

while x < len(sayılar_listesi):

    print(sayılar_listesi[x] ** 2)

    x += 1

1
9
16
36
25
49

In [29]:
# listenin elemanlarının karesini bir liste içinde döndüren while döngüsünü yazın

sayılar_listesi = [1, 3, 4, 6, 5, 7]

x = 0

kareler_listesi = []

while x < len(sayılar_listesi):

    kareler_listesi.append(sayılar_listesi[x] ** 2)

    x += 1

    print(kareler_listesi)

[1]
[1, 9]
[1, 9, 16]
[1, 9, 16, 36]
[1, 9, 16, 36, 25]
[1, 9, 16, 36, 25, 49]

In [30]:
# listenin elemanlarının karesini bir liste içinde döndüren while döngüsünü yazın

sayılar_listesi = [1, 3, 4, 6, 5, 7]

x = 0

kareler_listesi = []

while x < len(sayılar_listesi):

    kareler_listesi.append(sayılar_listesi[x] ** 2)

    x += 1

print(kareler_listesi)

[1, 9, 16, 36, 25, 49]

In [31]:
# listenin elemanlarından çift olanların karesini bir liste içinde döndüren while döngüsünü yazın

sayılar_listesi = [1, 3, 4, 6, 5, 7]

x = 0

çiftlerin_kareler_listesi = []

while x < len(sayılar_listesi):

    if sayılar_listesi[x] % 2 == 0:

        çiftlerin_kareler_listesi.append(sayılar_listesi[x] ** 2)

    x += 1

print(çiftlerin_kareler_listesi)

[16, 36]

13.02.2024

In [32]:
# SORU: [1,5,6,7,12,14,15,18,19,32,25] listesinin tek elemanlarının karesini, çift elemanlarının 2 katını liste halinde döndüren while döngüsünü yazın

In [33]:
liste = [1, 5, 6, 7, 12, 14, 15, 18, 19, 32, 25]

yeni_liste_tek = []
yeni_liste_çift = []

x = 0

while x < len(liste) :

    if liste[x] % 2 == 0 :
        yeni_liste_çift.append(liste[x] * 2 )
    else :
        yeni_liste_tek.append(liste[x] ** 2 )
    x += 1

print( yeni_liste_tek + yeni_liste_çift)

[1, 25, 49, 225, 361, 625, 12, 24, 28, 36, 64]

In [34]:
## Farklı çözüm yöntemi
liste = [1, 5, 6, 7, 12, 14, 15, 18, 19, 32, 25]

sonuç = []

x = 0

while x < len(liste) :

    if liste[x] % 2 == 0:
        sonuç.append(liste[x] * 2 )
    else :
        sonuç.append(liste[x] ** 2 )
    x += 1

print( sonuç)

[1, 25, 12, 49, 24, 28, 225, 36, 361, 64, 625]

## random modülü

 - Random modülü : belirlenen aralıkta rastgele sayılar üretir.
 - import random ile randomu her dosya açıldığında çağırmak lazım yoksa çalışmaz
 - random.random() -  0 dahil 1 dahil değil aralığında sayılar üretir
 - random.seed() - Belli bir sabite göre rassal bir sayı üretir. böylece herkes aynı rassal sayı üzerinde çalışabilir.
 - random.randit() - parantez içine yazdığımız deeğerler arasında tamsayı bir rassal sayı üretir.
 -

In [1]:
import random

In [2]:
random.random() # 0 dahil 1 dahil değil aralığında sayılar üretir.

0.1917408809726353

In [39]:
random.seed(37) # Belli bir sabite göre aynı değeri rassal şekilde üretir
random.random()

0.6820045605879779

In [3]:
random.randint(1,6) # parantez içine yazdığımız deeğerler arasında tamsayı bir rassal sayı

2

In [2]:
random.randint(-21,6)

-8

In [44]:
random.sample(range(100),5) # 100 e kadar sayılar içinde 5 tane rassal sayı üretir

[47, 56, 67, 13, 87]

In [3]:
y = True

aklımdaki_sayı = random.randint(0,100)

while y:

    tahmin = int(input("1 ile 100 arasında bir sayı tahmin edin."))

    if aklımdaki_sayı < tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini azalt")

    elif aklımdaki_sayı > tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini arttır")

    else:
        print(f"Girdiğiniz sayı : {tahmin}. Doğru bildiniz. Tebrikler. ")
        y = False

Girdiğiniz sayı : 5. Tahminini arttır
Girdiğiniz sayı : 5. Tahminini arttır
Girdiğiniz sayı : 65. Tahminini azalt
Girdiğiniz sayı : 45. Tahminini azalt
Girdiğiniz sayı : 35. Tahminini azalt
Girdiğiniz sayı : 15. Tahminini arttır
Girdiğiniz sayı : 20. Tahminini arttır
Girdiğiniz sayı : 25. Tahminini arttır
Girdiğiniz sayı : 30. Tahminini arttır
Girdiğiniz sayı : 35. Tahminini azalt
Girdiğiniz sayı : 35. Tahminini azalt
Girdiğiniz sayı : 34. Doğru bildiniz. Tebrikler.

## Break, Continue

In [4]:
aklımdaki_sayı = random.randint(0,100)

sayaç = 0
while True:

    tahmin = int(input("1 ile 100 arasında bir sayı tahmin edin."))

    sayaç += 1

    if aklımdaki_sayı < tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini azalt")

    elif aklımdaki_sayı > tahmin:
        print(f"Girdiğiniz sayı : {tahmin}. Tahminini arttır")

    else:
        print(f"Girdiğiniz sayı : {tahmin}. Doğru bildiniz. Tebrikler. ")
        break

    if sayaç == 5 :
        print(f"5 tahmin hakkınız bitti. {aklımdaki_sayı}")
        break

Girdiğiniz sayı : 50. Tahminini arttır
Girdiğiniz sayı : 75. Tahminini arttır
Girdiğiniz sayı : 85. Tahminini azalt
Girdiğiniz sayı : 80. Tahminini azalt
Girdiğiniz sayı : 80. Tahminini azalt
5 tahmin hakkınız bitti. 76

In [52]:
liste_14 = [1, 2, 3, 4, "Techpro", 5, 6, 7]

In [55]:
liste_14 = [1, 2, 3, 4, "Techpro", 5, 6, 7] # Sırayla int değerleri toplayın, Str ifadeye gelince kod sonlansın

x = 0

toplam = 0

while x < len(liste_14) :

    if type(liste_14[x]) == int:
        toplam += liste_14[x]
    elif type(liste_14[x]) == str:
        break
    x += 1
print(toplam)

10

In [56]:
liste_1 = [1, 2, 3, 4, "Techpro", 5, 6, 7] # Sırayla int değerleri toplayın, Str ifadeye gelince o ifadeyi atlayın ve devam edin.

x = 0
toplam = 0

while x < len(liste_1) :
    
    if type(liste_1[x]) == int:
        toplam += liste_1[x]
    elif type(liste_1[x]) == str:
        x += 1
        continue
    x += 1
print(toplam)

28

## min(), max()

In [5]:
liste_2 = [2, 5, 1, 3, 9, 4, 6, 8, 15, 48, 256]

In [6]:
min(liste_2) ## Listedeki min ifadeyi bulur

1

In [7]:
max(liste_2) ## Listedeki max ifadeyi bulur

256

In [63]:
min("Yeliz", "Ayhan", "Deniz") # ASCI değerine göre bakar

'Ayhan'

In [64]:
max("Yeliz", "Ayhan", "Deniz") # ASCI değerine göre bakar

'Yeliz'

In [8]:
min("Yeliz", "Ayhan", "Deniz", 225) # Farklı  tipler olunca hata veriyor

TypeError: '<' not supported between instances of 'int' and 'str'

 - Soru liste_1 = [4,5,6,9,85,23,65,47,32,91] listenin en küçük ve en büyük elemanını min ve max fonksiyonu kullanmadan bulun. sort fonk da kullanmayın.

In [2]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]

x = 0

min_sayı = liste_1[x]

while x < len(liste_1) :

    if min_sayı > liste_1[x]:
       min_sayı = liste_1[x]

    x += 1
print(f"Listedeki en küçük eleman: ", min_sayı, "'dır" )

IndentationError: expected an indented block after 'if' statement on line 9 (1538226165.py, line 11)

In [67]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]

x = 0

max_sayı = liste_1[x]

while x < len(liste_1) :

    if max_sayı < liste_1[x]:
        max_sayı = liste_1[x]

    x += 1
print(f"Listedeki en büyük eleman: ", max_sayı, "'dır" )

Listedeki en büyük eleman:  91 'dır

15.02.2024

# FOR DÖNGÜSÜ

 - For döngüsü iterible (ulaşılabilir) lar ile çalışır

In [68]:
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [69]:
for i in "techpro":
    print(i, "-", i * 2)

t - tt
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [70]:
liste_2 = [1, 2, 3, 4, 5,]

for i in liste_2:
    print(f"{i} sayısının karesi :  {i**2}")

1 sayısının karesi :  1
2 sayısının karesi :  4
3 sayısının karesi :  9
4 sayısının karesi :  16
5 sayısının karesi :  25

In [71]:
for i in 1453: # iterible değil hata verir
    print (i)

TypeError: 'int' object is not iterable

In [75]:
"e" in "Hello"

True

In [76]:
"a" in "Hello"

False

In [72]:
liste_2 = [1, 2, 3, 4, 5,]

for i in liste_2:
    print(f"{i} sayısının karesi :  {i**2}", end = " , ")

1 sayısının karesi :  1 , 2 sayısının karesi :  4 , 3 sayısının karesi :  9 , 4 sayısının karesi :  16 , 5 sayısının karesi :  25 ,

In [73]:
isimler_listesi = ["irem", "cihan", "bahar", "metehan"]

In [74]:
for i in isimler_listesi:
    print(i.capitalize())

Irem
Cihan
Bahar
Metehan

In [4]:
# soru: "Techpro" ifadesini T-e-c-h-p-r-o

x = "Techpro"
boş =""
for i in x :
    boş += i+"-"

print(boş.rstrip("-"))  # rstrip sağdaki elemanı siliyor

T-e-c-h-p-r-o

In [81]:
dict_1 = {"name": "dilek", "age": 26, "job": "data_scientist"}
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data_scientist'}

In [84]:
for i in dict_1:   # dictionaries ile kullanıldığında farklı birşey yazmazsak keylerde arar
    print(i)

name
age
job

In [85]:
for i in dict_1.values():
    print(i)

dilek
26
data_scientist

In [86]:
for i in dict_1.keys():
    print(i)

name
age
job

In [87]:
for i in dict_1.items():
    print(i)

('name', 'dilek')
('age', 26)
('job', 'data_scientist')

In [88]:
for i, j in dict_1.items():
    print(i, j)

name dilek
age 26
job data_scientist

In [89]:
for i, j in dict_1.items():
    print(i, j, sep = ": ")

name: dilek
age: 26
job: data_scientist

In [90]:
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data_scientist'}

In [91]:
for i, j in dict_1.items():            # i nin yanndaki işaretle 10 karakter yer açar sola yaslar
    print(f"key: {i:<10}, value: {j}")

key: name      , value: dilek
key: age       , value: 26
key: job       , value: data_scientist

In [92]:
for i, j in dict_1.items():   # i nin yanndaki işaretle 10 karakter yer açar sağa yaslar
    print(f"key: {i:>10}, value: {j}")

key:       name, value: dilek
key:        age, value: 26
key:        job, value: data_scientist

In [95]:
for i, j in dict_1.items():   # i nin yanndaki işaretle 15 karakter yer açar ortalar
    print(f"key: {i:>10}, value: {j:^ 15}")

ValueError: Space not allowed in string format specifier

In [96]:
for i in True:   # Boolean ifade hata verir
    print(i)

TypeError: 'bool' object is not iterable

In [97]:
liste = ["sonsuz döngü"]
for i in liste:
    print(i)

sonsuz döngü

In [ ]:
### Çalıştırma sonsuza gider
liste = ["sonsuz döngü"]
for i in liste:
    print(i)
    liste.append(liste)

In [98]:
for i in range (1,51):
    print(f"{i:>2} - Hoca bize ceza verdi")

 1 - Hoca bize ceza verdi
 2 - Hoca bize ceza verdi
 3 - Hoca bize ceza verdi
 4 - Hoca bize ceza verdi
 5 - Hoca bize ceza verdi
 6 - Hoca bize ceza verdi
 7 - Hoca bize ceza verdi
 8 - Hoca bize ceza verdi
 9 - Hoca bize ceza verdi
10 - Hoca bize ceza verdi
11 - Hoca bize ceza verdi
12 - Hoca bize ceza verdi
13 - Hoca bize ceza verdi
14 - Hoca bize ceza verdi
15 - Hoca bize ceza verdi
16 - Hoca bize ceza verdi
17 - Hoca bize ceza verdi
18 - Hoca bize ceza verdi
19 - Hoca bize ceza verdi
20 - Hoca bize ceza verdi
21 - Hoca bize ceza verdi
22 - Hoca bize ceza verdi
23 - Hoca bize ceza verdi
24 - Hoca bize ceza verdi
25 - Hoca bize ceza verdi
26 - Hoca bize ceza verdi
27 - Hoca bize ceza verdi
28 - Hoca bize ceza verdi
29 - Hoca bize ceza verdi
30 - Hoca bize ceza verdi
31 - Hoca bize ceza verdi
32 - Hoca bize ceza verdi
33 - Hoca bize ceza verdi
34 - Hoca bize ceza verdi
35 - Hoca bize ceza verdi
36 - Hoca bize ceza verdi
37 - Hoca bize ceza verdi
38 - Hoca bize ceza verdi
39 - Hoca bize ceza verdi
40 - Hoca bize ceza verdi
41 - Hoca bize ceza verdi
42 - Hoca bize ceza verdi
43 - Hoca bize ceza verdi
44 - Hoca bize ceza verdi
45 - Hoca bize ceza verdi
46 - Hoca bize ceza verdi
47 - Hoca bize ceza verdi
48 - Hoca bize ceza verdi
49 - Hoca bize ceza verdi
50 - Hoca bize ceza verdi

16.02.2024

 -  ÖDEV 1 :Kullanıcıdan 1 ve 9 dahil sayı isteyin. Bu sayının çarpım tablosunu oluşturun

In [1]:
x = int(input("Lütfen 1 ile 9 arasında Çarpım Tablosunu görmek istediğiniz sayıyı giriniz.)"))

for i in range(1, 9) :
    if 1 <= int(x) < 10 :
        print(f" {i} x {x} = {i*x}")
    else :
        print("Lütfen 1 ile 9 arasında bir sayı giriniz")

 1 x 8 = 8
 2 x 8 = 16
 3 x 8 = 24
 4 x 8 = 32
 5 x 8 = 40
 6 x 8 = 48
 7 x 8 = 56
 8 x 8 = 64

In [9]:
x = int(input("Lütfen 1 ile 9 arasında Çarpım Tablosunu görmek istediğiniz sayıyı giriniz.)"))

# break in kullanıldığı yere dikkat döngüyü 1 kerede bitiriyor

for i in range(1, 9) :
    if 1 <= int(x) < 10 :
        print(f" {i} x {x} = {i*x}")
    else :
        print("Lütfen 1 ile 9 arasında bir sayı giriniz")
    break

 1 x 9 = 9

 -  ÖDEV 2: Kullanıcıdan 1(dahil) ve 9(dahil) arasında bir sayı isteyin. bu sayının çarpım tablosunu oluşturun. Kullanıcı bu aralıktab farklı bir değer girdiyse tekrar doğru değeri girmesini isteyin.

In [6]:
# Soru 2: 

# sonsuz döngü
while True:

    x = int(input("Lütfen 1 ile 9 arasında Çarpım Tablosunu görmek istediğiniz sayıyı giriniz.)"))

    for i in range(1, 9) :
        if 1 <= int(x) < 11 :
            print(f" {i} x {x} = {i*x}")
            
        else :
            print("Lütfen 1 ile 9 arasında bir sayı giriniz")

 1 x 7 = 7
 2 x 7 = 14
 3 x 7 = 21
 4 x 7 = 28
 5 x 7 = 35
 6 x 7 = 42
 7 x 7 = 49
 8 x 7 = 56

ValueError: invalid literal for int() with base 10: ''

In [7]:
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        for i in range(1,11):

            print(f"{number} x {i:<2} = {number * i}")
        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

6 x 1  = 6
6 x 2  = 12
6 x 3  = 18
6 x 4  = 24
6 x 5  = 30
6 x 6  = 36
6 x 7  = 42
6 x 8  = 48
6 x 9  = 54
6 x 10 = 60

In [8]:
#ödev 2 çözüm 2
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

for i in range(1,11):

    print(f"{number} x {i:<2} = {number * i}")

4 x 1  = 4
4 x 2  = 8
4 x 3  = 12
4 x 4  = 16
4 x 5  = 20
4 x 6  = 24
4 x 7  = 28
4 x 8  = 32
4 x 9  = 36
4 x 10 = 40

In [9]:
#ödev 2 çözüm 2
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

for i in range(1,11):

    print(f"{number} x {i:<2} = {number * i}")

3 x 1  = 3
3 x 2  = 6
3 x 3  = 9
3 x 4  = 12
3 x 5  = 15
3 x 6  = 18
3 x 7  = 21
3 x 8  = 24
3 x 9  = 27
3 x 10 = 30

In [10]:
#ödev 2 çözüm 2
while True:

    number = int(input("bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        break

    else:
        print("girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.")

for i in range(1,11):

    print(f"{number} x {i:<2} = {number * i}")

girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin.
4 x 1  = 4
4 x 2  = 8
4 x 3  = 12
4 x 4  = 16
4 x 5  = 20
4 x 6  = 24
4 x 7  = 28
4 x 8  = 32
4 x 9  = 36
4 x 10 = 40

In [11]:
# soru 1  - 1 den 50 ye kadar olan sayıların toplamını yazınız

toplam = 0
x = range(1,51)

for i in x :
    toplam =toplam + i
print(toplam)

1275

## Sum Fonksiyonu

 - sum fonksiyonunun default değeri 0 dır. Virgül ile 0 dır. Virgül ile başlangıç rakamı belirleyebiliriz

In [10]:
sum(range(1,51)) # 1 ile 50 arasındaki tüm sayıları toplar

1275

In [13]:
sum((1,2,3,4,5)) # Tuple ları toplayabiliriz

15

In [14]:
sum([1,2,3,4,5]) # Listenin elemanlarını toplayabiliriz

15

In [15]:
sum({1,2,3,4,5}) # Setlein elemanlarını toplayabiliriz

15

In [16]:
type({1,2,3,4,5})

set

In [18]:
sum([True, 2, 3, 3.0]) # True değerini 1 alarak toplar

9.0

In [19]:
sum([True, 2, 3, 3.0], 100)  # sum fonksiyonunun default değeri 0 dır. Virgül ile 0 dır. Virgül ile başlangıç rakamı belirleyebiliriz

109.0

In [20]:
# soru 2 - 1 den 50 ye kadar olan çift sayıların toplamını yazınız
# 1. Yontem

toplam = 0
x = range(0,51,2)

for i in x :
    toplam =toplam + i
print(toplam)

650

In [21]:
# soru 2  -1 den 50 ye kadar olan çift sayıların toplamını yazınız
#2. yöntem

toplam = 0
x = range(0,51)

for i in x :
    if i % 2 == 0 :
        toplam =toplam + i
print(toplam)

650

In [11]:
sum(range(0,51,2))

650

## Break, Continue fonksiyonları

In [23]:
liste_1 = [1,2,3,4,5]
liste_1

[1, 2, 3, 4, 5]

In [24]:
### 3 ve üçün karesine gelince kod bitsin. Diğer durumda sayıların karesini yazsın
for i in liste_1 :

    if i % 3 == 0 : 
        break
    else : 
         print(i ** 2)

1
4

In [25]:
# çift sayıların toplamı 1 ve 50 arası
## yontem 4

toplam = 0

for i in range(1,51):

    if i % 2 == 1:
        continue
    else:
        toplam += i

print(toplam)

650

## Zip() Fonksiyonu

 - zip() fonksiyonu ile birden fazla liste veya tuple ı eşleştirmek için kullanabiliriz
 - en düşük elemanın sayısına kadar karşılaştırır

In [26]:
a = ["apple", "orange", "lemon"]
b = [1, 2, 3]

In [29]:
zip(a,b) # böyle çıktı vermez

In [30]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [31]:
list(zip(b,a)) # sıra önemli

[(1, 'apple'), (2, 'orange'), (3, 'lemon')]

In [32]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"

In [33]:
list(zip(x,y,z))

[('T', 'C', 'A'), ('e', 'i', 'y'), ('c', 'h', 'ş'), ('h', 'a', 'e')]

In [34]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [36]:
meyveler = ["apple", "orange", "apple"]
adet = [1, 2, 3]

In [37]:
dict(zip(meyveler,adet))

{'apple': 3, 'orange': 2}

In [44]:
meyveler = ["apple", "orange", "cherry"]
adet = [1, 2, 3]

In [45]:
dict(zip(meyveler,adet))

{'apple': 1, 'orange': 2, 'cherry': 3}

In [46]:
name = ["irem", "betül", "Tülay"]
age = [25,26,27]
job = ["data_scientist", "python_developer", "data_analyst"]

In [47]:
list(zip(name, age, job))

[('irem', 25, 'data_scientist'),
 ('betül', 26, 'python_developer'),
 ('Tülay', 27, 'data_analyst')]

In [48]:
for i, j in zip(name, age, job): # 3 değişken varsa 3 değişken atamalı yoksa hata verir
    print(f"name : {i:<6}, age:{j}")

ValueError: too many values to unpack (expected 2)

In [49]:
for i, j, k in zip(name, age, job):
    print(f"name : {i:<6}, age:{j}")

name : irem  , age:25
name : betül , age:26
name : Tülay , age:27

In [50]:
for i in range(1,11):
    print("Değişkene ihtiyacım yok.")

Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.
Değişkene ihtiyacım yok.

# ennumarete() - numaralama yapar

In [12]:
name = ["Betül", "İrem", "Tülay"]

In [13]:
name

['Betül', 'İrem', 'Tülay']

In [14]:
enumerate(name)

In [15]:
list(enumerate(name)) # ennumarete fonksiyonunun default değeri 0 dır.

[(0, 'Betül'), (1, 'İrem'), (2, 'Tülay')]

In [56]:
list(enumerate(name, 100))  # ennumarete fonksiyonunun default değeri 0 dır. Virgül ile 0 dır. Virgül ile başlangıç rakamı belirleyebiliriz

[(100, 'Betül'), (101, 'İrem'), (102, 'Tülay')]

In [57]:
list(enumerate(name, 1))

[(1, 'Betül'), (2, 'İrem'), (3, 'Tülay')]

In [18]:
## Soru : Listenin min ve max değerleri arasındaki kayıp sayıları bulun

## Çözüm 1 :

number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

kayıp_sayılar = []


for i in range(min(number_list), max(number_list) + 1) :
    if i not in number_list:
       kayıp_sayılar.append(i)
print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [60]:
## Soru : Listenin min ve max değerleri arasındaki kayıp sayıları bulun

## Çözüm 2 :

number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

kayıp_sayılar = []


for i in range(min(number_list), max(number_list) + 1) :
    if i in number_list:
       continue
    
    kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [61]:
## Soru : Listenin min ve max değerleri arasındaki kayıp sayıları bulun

## Çözüm 3 :

number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

tüm_set = set(range(min(number_list), max(number_list) + 1))
bizim_set = set(number_list)

tüm_set - bizim_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

17.02.2024

 - Bir markete gittiniz. Markette her ürünün bir kod numarası var. 1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde. Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız. Çıktı: Teşekkür Ederiz... Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.
 -

In [84]:
ürünler = {1 : "Elma", 2 : "Portakal", 3 : "Çilek" , 4 : "Yumurta" , 5 : "Havuç",  6 : "Armut"}


print("Marketimize Hoş Geldiniz".upper())

print(""" Ürünlerimiz: 
      1 : "Elma", 
      2 : "Portakal", 
      3 : "Çilek" , 
      4 : "Yumurta" , 
      5 : "Havuç",  
      6 : "Armut" """)

sepet = []

while True:
      x = input("Lütfen almak istediğiniz ürünün kodunu giriniz. Ürün eklemeyi bitirdiğinizde q tuşuna basınız").lower()

      if x != "q":
            sepet.append(ürünler[int(x)])
      elif x== "q":
            print(f"Bizi tercih ettiğiniz için teekkür ederiz. Aldığınız ürünler: {sepet}")
            break

MARKETIMIZE HOŞ GELDINIZ
 Ürünlerimiz:
      1 : "Elma",
      2 : "Portakal",
      3 : "Çilek" ,
      4 : "Yumurta" ,
      5 : "Havuç",
      6 : "Armut"
Bizi tercih ettiğiniz için teekkür ederiz. Aldığınız ürünler: ['Elma', 'Havuç', 'Yumurta']

# List Comprehension

In [85]:
liste_1 = [1, 2, 3, 4, 5]

empty_list = []

for i in liste_1 :
    empty_list.append(i**2)

print(empty_list)

[1, 4, 9, 16, 25]

 - List Coprehension ile hepsini otomatik yapıyor. for dönfüsüne uygulanıyor. while için kullanılmıyor.

In [86]:
[i ** 2 for i in liste_1]

[1, 4, 9, 16, 25]

In [64]:
type(ürünler)

dict

In [87]:
liste_2 = [ "renault!", "fiat*", "ford?"]
liste_2

['renault!', 'fiat*', 'ford?']

In [88]:
for i in liste_2 :
    print(i.replace("!", "").replace("?","").replace("*",""))

renault
fiat
ford

In [89]:
düzenlenmiş_liste = []

for i in liste_2 :
    (düzenlenmiş_liste.append(i.strip("!*?")))
print(düzenlenmiş_liste)

['renault', 'fiat', 'ford']

 - for döngüsünü tek başına kullanıyorsak işlem kısmını for un sol tarafına yapmamız gerek

In [90]:
[i.strip("?!*")for i in liste_2]

['renault', 'fiat', 'ford']

## for + if

In [93]:
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

tek_sayılar = []

for i in sayılar_listesi:
    if i % 2 :
        tek_sayılar.append(i)

print(tek_sayılar)

[1, 15, 5, 89, 45, 71, 45, 95, 61]

 -   for + if kullanılırken if yapısı for un sağına yapılacak işlem for un soluna yazılmalıdır
 - önce parantezi aç
 - sonra for in sayılar listesi yaz
 - i yi fornun başına if yapısı soluna yazılır
 - : işareti kullanılmaz
 - for,  if + else ile kullanılacaksa en saga yazılır. diğer işlemler soldadır.
 -  if in işlemi if in soluna else in işlemi else in sagında yazılır

In [97]:
[i for i in sayılar_listesi if i % 2 == 1]

[1, 15, 5, 89, 45, 71, 45, 95, 61]

In [98]:
[i for i in sayılar_listesi if i % 2 == 0]

[2, 36, 62, 52, 30, 56, 48]

In [2]:
# çift olanlar yerinde olduğu gibi kalsın, tek olanların karesini yazdırın

sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

sonuç = []

for i in sayılar_listesi :
    if i % 2 == 0:
        sonuç.append(i)

    else:
        sonuç.append(i**2)
print(sonuç)

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]

In [3]:
[ i if i % 2 == 0 else i **2 for i in sayılar_listesi] # for if + else ile kullanılacaksa en sağa yazılır. diğer işlemler soldadır. 
                                                         #if in işlemi if in solunda, else in işlemi else in sağında yazılır.

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]

 - örnek

In [120]:
for i in (1, 2, 3) :
    for j in [ 4, 5, 6] :
        print(j * i)

4
5
6
8
10
12
12
15
18

In [121]:
[i * j for i in (1, 2, 3) for j in[4, 5, 6]]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

# FONKSİYONLAR

 - def fonksiyon_ismi(parametre/parametreler)
 - definition altına """" """ parantez içine yazdığımız fonksiyonun açıklamasını yazabiliriz
 - Açıklamayı başka bir yere yazarsak açıklama görünmez

In [123]:
def kareler_toplamı(x,y):
    print(x**2 + y**2)

In [124]:
kareler_toplamı(3,4)

25

In [125]:
def kareler_toplamı_2(x,y) :
    """Bu fonksiyon iki tane sayının  karesinin alır ve toplar"""
    print(x**2 + y**2)

In [126]:
kareler_toplamı_2() # parantez içine gerekli parametreleri yazmaz isek hata alırız

TypeError: kareler_toplamı_2() missing 2 required positional arguments: 'x' and 'y'

In [127]:
kareler_toplamı_2(5) # parantez içine x in yerine 5 i kabul ediyor ama y değeri eksik

TypeError: kareler_toplamı_2() missing 1 required positional argument: 'y'

In [128]:
kareler_toplamı_2(5,7)

74

In [129]:
def kareler_toplamı_3(x,y) : ## fonsiyon açıklamasını fonsiyonun hemen altına yazmak lazım yoksa açıklama görülmez
        print(x**2 + y**2)

        """Bu fonksiyon iki tane sayının  karesinin alır ve toplar"""

In [130]:
help(kareler_toplamı_2)

Help on function kareler_toplamı_2 in module __main__:

kareler_toplamı_2(x, y)
    Bu fonksiyon iki tane sayının  karesinin alır ve toplar

In [132]:
help(kareler_toplamı_3) ## fonsiyon açıklamasını fonsiyonun hemen altına yazmak lazım yoksa açıklama görülmez

Help on function kareler_toplamı_3 in module __main__:

kareler_toplamı_3(x, y)

In [133]:
kareler_toplamı_2(2.1,3)
print(kareler_toplamı_2)

13.41
<function kareler_toplamı_2 at 0x000002C8329791C0>

In [4]:
def neşetbaba():
    print("Kadınlar insandır, biz insanoğlu")

In [5]:
neşetbaba

In [6]:
neşetbaba()

Kadınlar insandır, biz insanoğlu

In [7]:
def calculator(num1, opr, num2):
    if opr == "+":
        print(num1 + num2)
    elif opr == "-":
        print(num1 - num2)
    elif opr == "x":
        print(num1 * num2)
    elif opr == "/":
        print(num1 / num2)
    else:
        print("Hatalı operatör girişi")

In [135]:
calculator(3,"x", 4)

12

In [136]:
calculator("/", 8, 2) # sıralama önemli

Hatalı operatör girişi

In [137]:
calculator("tech", "+", "pro")

techpro

In [138]:
calculator("tech", "-", "pro") # stringlerde çıkarma olmadığı için hata verir

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [139]:
def my_len(x) :
    """len fonsiyonunu beğenmediğim için kendi fonsiyonumu yazıyorum. Bu fonksiyon iterable ın uzunluğunu verir."""
    sayaç = 0

    for i in x :
        sayaç += 1

    print(sayaç)

In [140]:
my_len("techpro")

7

In [141]:
my_len((1, 2, 3, 4, 5,))

5

In [142]:
my_len([1, 2, 3, 4, 5])

5

20.02.2024

In [37]:
## ödev: Kullanıcıdan aldığınız bir sayının Armstrong number olup olmadığını kontrol eden algoritmayı oluşturun
## N haneli bir sayının basamaklarının n’inci üstlerinin toplamı, sayının kendisine eşitse, böyle sayılara Armstrong sayı denir.

g_sayı = input("Lütfen bir sayı giriniz")

uzunluk = len(g_sayı)

toplam = 0
for i in g_sayı:
    toplam += int(i) ** uzunluk

if toplam == int(g_sayı):
    print(f"{g_sayı} sayısı armstrong bir sayıdır")
else:
    print(f"{g_sayı} sayısı armstrong sayı değildir")

125 sayısı armstrong sayı değildir

In [39]:
sum([int(i) ** uzunluk for i in g_sayı])

134

In [40]:
def find_armstrong(x):
    
    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        print(f"{x} sayısı armstrong bir sayıdır")
    else:
        print(f"{x} sayısı armstrong sayı değildir")

In [41]:
find_armstrong(407)

407 sayısı armstrong bir sayıdır

In [44]:
def find_armstrong_2(x):
    
    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [45]:
find_armstrong_2(407)

407

In [46]:
find_armstrong_2(154)

- iki kenar bilgisi bilinen dik üçgenin hipotenüsünü bulan fonk yazın. Daha sonra üçgenin çevresini hesaplayın

In [12]:
def hypot_1(x,y):
    """Bu fonksiyon hipotenüsü alır"""
    print((x**2 + y**2)**0.5)

In [13]:
hypot_1(3,4)

5.0

In [17]:
çevre = 3 + 4 + hypot_1(3,4)

5.0

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [15]:
type(hypot_1)

function

In [20]:
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

çift_1 = []
tek_1 = []

for i in sayılar_listesi:
    if i % 2 == 0:
        çift_1.append(i)
    else:
        tek_1.append(i)

print(tek_1)
print(çift_1)

[1, 15, 5, 89, 45, 71, 45, 95, 61]
[2, 36, 62, 52, 30, 56, 48]

In [22]:
def tek_çift_ayırıcı(liste, istek):
    
    """Bu fonksiyon bir listenin elemanlarını sizin isteğinize göre tekler veya çiftler olarak ayırır."""

    çift_1 = []
    tek_1 = []

    for i in sayılar_listesi:
        if i % 2 == 0:
            çift_1.append(i)
        else:
            tek_1.append(i)

    if istek == "tek":
        return tek_1
    elif istek == "çift":
        return çift_1
    else:
        print("Hatalı istek")

In [24]:
tek_çift_ayırıcı(sayılar_listesi,"tek")

[1, 15, 5, 89, 45, 71, 45, 95, 61]

In [25]:
tek_çift_ayırıcı(sayılar_listesi,"çift")

[2, 36, 62, 52, 30, 56, 48]

In [26]:
tek_çift_ayırıcı(sayılar_listesi,"farketmez")

Hatalı istek

In [27]:
def adın_kadar_kazan(isim):

    """Bu fonksiyon ismin içindeki sesli harfleri bulur"""

    counter = 0

    for i in isim.lower():

        if i in "aeiıüuoö":
            counter += 1

    print(counter)

In [29]:
adın_kadar_kazan("sadime")

3

In [31]:
adın_kadar_kazan("sadime") * 1000 ## Fonksiyonda print kullandığımız için tek defa çıktı veriyor sonra kullanamıyoruz sonucu

3

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [34]:
## Print kullandığımızda tek seferlik çıtı veriyor. Sonra bu sonucu kullanamıyoruz.
## Return kullanıldığında o çıktıyı tekrar kullanabiliyoruz.

def adın_kadar_kazan(isim):

    """Bu fonksiyon ismin içindeki sesli harfleri bulur"""

    counter = 0

    for i in isim.lower():

        if i in "aeiıüuoö":
            counter += 1

    return counter

In [35]:
adın_kadar_kazan("Sadime") * 1000

3000

In [47]:
def find_armstrong_3(x):
    
    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)
    else:
        return f"{x} armstrong değildir"

In [48]:
find_armstrong_3(154)

'154 armstrong değildir'

In [49]:
## 1 ile 10000 arasındaki armstrong sayıları bulalım.
result= []
for i in range(1,10001):
    if find_armstrong_2(i) != None:
        result.append(i)
result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [54]:
import time

In [60]:
%%time
result = []

for i in range(1,10000001):
    if find_armstrong_2(i) != None:
        result.append(i)
result

CPU times: total: 12.9 s
Wall time: 13.8 s

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 153,
 370,
 371,
 407,
 1634,
 8208,
 9474,
 54748,
 92727,
 93084,
 548834,
 1741725,
 4210818,
 9800817,
 9926315]

In [57]:
%%time
[i for i in range(1,10000001) if find_armstrong_2(i) != None]

CPU times: total: 12.9 s
Wall time: 13.1 s

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 153,
 370,
 371,
 407,
 1634,
 8208,
 9474,
 54748,
 92727,
 93084,
 548834,
 1741725,
 4210818,
 9800817,
 9926315]

21.02.2024

In [64]:
## Asal sayı bulucu

x = int(input("Lütfen bir sayı giriniz"))

if x > 1:

    count = 0
    for i in range(2,x):
        if x % i == 0:
            count += 1

    if count == 0:
        print(f"{x} sayısı asal sayıdır")
    else:
        print(f"{x} sayısı asal sayı değildir")

else:
    print("girilen değer 1 den büyük olmalıdır")

721 sayısı asal sayı değildir

In [65]:
def find_prime_number(x):

    """Bu fonsiyon sayının asalsayı olup olmadığını tespit eder."""

    if x > 1:

        for i in range(2, x):

            if x % i == 0:
                print(f"{x} sayısı asal değildir")
                break

        else:    
            return f"{x} sayısı asal sayıdır"
            
    else:
        return f"girdiğiniz sayı {x}. 1 den büyük olmalıdır"

In [66]:
find_prime_number(9)

9 sayısı asal değildir

In [67]:
def find_prime_number_2(x):

    """Bu fonsiyon sayının asalsayı olup olmadığını tespit eder."""

    if x > 1:

        for i in range(2, x):

            if x % i == 0:
                break
        
        else:    
            return x
            
    else:
        return f"girdiğiniz sayı {x}. 1 den bütük olmalıdır"

In [68]:
find_prime_number_2(5)

5

In [69]:
find_prime_number_2(9)

In [71]:
result_1 = []

for i in range(1,101):
    if find_prime_number_2(i) != None:
        result_1.append(i)

result_1

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

## Positional and Keyword Arguments

In [72]:
def my_name(first_name, last_name):

    print(f"My name is {first_name} {last_name}")

In [73]:
my_name("Sadime","Yıldırım")

My name is Sadime Yıldırım

In [74]:
my_name("Yakut", "Sadime")

My name is Yakut Sadime

In [76]:
my_name("Sadime") # 2 değişken tanımlanmışsa 2 değişken girmeli yoksa hata verir

TypeError: my_name() missing 1 required positional argument: 'last_name'

In [79]:
def your_name(first_name, last_name = "Yakut Yıldırım"):

    print(f"Your name is {first_name} {last_name}")

In [80]:
your_name("Sadime")

Your name is Sadime Yakut Yıldırım

In [81]:
your_name(last_name= "yıldız", "murat") # önce positional olanlar

SyntaxError: positional argument follows keyword argument (1673891807.py, line 1)

In [82]:
your_name("murat", last_name= "yıldız" )

Your name is murat yıldız

In [84]:
def your_name_2(first_name, second_name = "Ebrar", last_name):

    print(f"Your name is {first_name} {second_name} {last_name}")

SyntaxError: parameter without a default follows parameter with a default (4044942996.py, line 1)

In [87]:
def your_name_2(first_name, last_name, second_name = "Cemile"):

    print(f"Your name is {first_name} {second_name} {last_name}")

In [88]:
your_name_2("Ayşe", "Yıldırım")

Your name is Ayşe Cemile Yıldırım

In [92]:
def tek_sayılar(a, b, c, d, e): # Kaç değişken tanımladıysak o kadar değerr girmeliyiz yoksa hata alırız

    tek_sayılar = []

    for i in a,b,c,d,e:

        if i % 2:
            tek_sayılar.append(i)
    return tek_sayılar

In [90]:
tek_sayılar(4,75,45,26,15)

[75, 45, 15]

In [93]:
tek_sayılar(4,75,45,26) # Kaç değişken tanımladıysak o kadar değerr girmeliyiz yoksa hata alırız

TypeError: tek_sayılar() missing 1 required positional argument: 'e'

## Arbitrary Number of Arguments (*args, **kwargs)

## * args

In [97]:
## Başına * koyduğumuz zaman değişken sayısını kısıtlamıyor istediğimiz kadar değişken kullanabiliriz
def tek_sayılar_2(* sayılar): 

    odds = []

    for i in sayılar:

        if i % 2:
            odds.append(i)
            
    return odds

In [96]:
tek_sayılar_2(4,25,36,15,17)

[25, 15, 17]

In [98]:
tek_sayılar_2(4,25,36,15,17,2,6,4,19,18)

[25, 15, 17, 19]

In [102]:
def tek_çift_1(* sayılar):

    result = []
    for i in sayılar:
        if i % 2 == 0:
            result.append(i * 2)
        else:
            result.append(i ** 2)
    return result

In [103]:
tek_çift_1(1,2,3,4,5,6)

[1, 4, 9, 8, 25, 12]

In [99]:
def tek_çift_2(* sayılar):

    return [i * 2 if i % 2 == 0 else  i ** 2 for i in sayılar]

In [100]:
tek_çift_2(5,6,7,15,99,56,58)

[25, 12, 49, 225, 9801, 112, 116]

In [107]:
## range ile çağıramıyoruz. Çünkü args kullanmadık

tek_çift_2(range(1,10))

TypeError: unsupported operand type(s) for %: 'range' and 'int'

In [106]:
# liste ile de çağıramıyoruz. Çünkü args kullanmadık
tek_çift_2(list(range(1,10)))

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [108]:
# args kullanırsak range ile sayı üretebiliriz

tek_çift_2(* range(1,10))

[1, 4, 9, 8, 25, 12, 49, 16, 81]

In [109]:
print(* range(1,10))

1 2 3 4 5 6 7 8 9

In [110]:
print(* "sedat")

s e d a t

## **kwargs - args tan farkı dictionary formatında olması

In [111]:
dict_1 = {"name1": "seyda", "name2": "medine", "name3": "orkun"}
dict_1

{'name1': 'seyda', 'name2': 'medine', 'name3': 'orkun'}

In [112]:
def kwargs_function(** kwargs):

    for i, j in kwargs.items():
        print(f"key: {i}, value: {j}")

In [113]:
kwargs_function(name4 = "Oğuz", name5 = "murat")

key: name4, value: Oğuz
key: name5, value: murat

In [114]:
kwargs_function(name4 = "Oğuz", name5 = "murat", name6 = "yıldız")

key: name4, value: Oğuz
key: name5, value: murat
key: name6, value: yıldız

In [115]:
kwargs_function(dict_1)

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [116]:
kwargs_function(** dict_1)

key: name1, value: seyda
key: name2, value: medine
key: name3, value: orkun

# 22.02.2024

 - ÖDEV : Anne, baba ve çocuktan oluşan çekirdek ailenin Süper aile olup olmadığını bulan kodu yazın. isimleri kullanıcıdan isteyin. (Çocuğun ismindeki sessiz harflerin hepsi, anne ve babanın isimlerinde var ise bu aile süper ailedir.(Not: anne ve baba isminden en az bir tane olmalı.). örn1: baba adı = "Halil", anne adı= "Merve", çocuk adı= "Veli" >> Süper aile. ("v" anneden, "l" babadan) örn2: baba adı = "Murat", anne adı= "Songül", çocuk adı= "Mert" >> Süper aile değil. Anneden harf yok.

In [117]:
baba = input("baba için isim girin").lower()
anne = input("anne için isim girin").lower()
cocuk = input("çocuk isim girin").lower()

cocuk_sessiz_harfler = ""

for i in cocuk:
    if i not in "aeiıuüoö":
        cocuk_sessiz_harfler += i

if len(set(anne) & set(cocuk_sessiz_harfler)) > 0 and len(set(baba) & set(cocuk_sessiz_harfler)) > 0 and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)):
    print("bu aile süper ailedir")
    
else:
    print("çocuğa isim bile koyamadınız")

çocuğa isim bile koyamadınız

In [118]:
def super_aile(anne,baba,cocuk):

    anne = anne.lower()
    baba = baba.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz_harfler = ""

    for i in cocuk:
        if i not in "aeiıuüoö":
            cocuk_sessiz_harfler += i

    if len(set(anne) & set(cocuk_sessiz_harfler)) > 0 and len(set(baba) & set(cocuk_sessiz_harfler)) > 0 and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)):
        print("bu aile süper ailedir")
        
    else:
        print("çocuğa isim bile koyamadınız")

In [120]:
super_aile("Merve","Halil","Veli")

bu aile süper ailedir

In [122]:
Aile = input("Lütfen sırasıyla araya virgül koyarak anne adı, baba adı ve çocuk adını giriniz").lower().split(",")


ç = set(Aile[2])
e = set(Aile[0]) | set(Aile[1])

ç_sessiz = ""

sessiz_harf = "bcdfgğhjklmnprsştvyz"

for i in ç:
    if i in sessiz_harf:
        ç_sessiz += i

çocuk_sessiz = set(ç_sessiz)

if çocuk_sessiz.issubset(e):
    print("Bu aile Süper bir aile dir.")
else:
    print("Bu aile Süper bir aile değildir")

Bu aile Süper bir aile değildir

In [149]:
#### Tekrar dene


def süper_aile_2(anne_adı, baba_adı, çocuk_adı):


    ç = set(süper_aile_2[2])
    e = set(süper_aile_2(0)) | set(süper_aile_2(1))

    ç_sessiz = ""

    sessiz_harf = "bcdfgğhjklmnprsştvyz"

    for i in ç:
        if i in sessiz_harf:
            ç_sessiz += i

    çocuk_sessiz = set(ç_sessiz)

    if çocuk_sessiz.issubset(e):
        print("Bu aile Süper bir aile dir.")
    else:
        print("Bu aile Süper bir aile değildir")

In [148]:
süper_aile_2("Selma","Engin","Nesrin")

TypeError: 'function' object is not subscriptable

In [137]:
süper_aile_2("Merve","Halil","Veli")

Bu aile Süper bir aile değildir

In [151]:
def super_aile_3(anne,baba,cocuk):

    anne = anne.lower()
    baba = baba.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz_harfler = ""

    for i in cocuk:
        if i not in "aeiıuüoö":
            cocuk_sessiz_harfler += i

    if (set(anne) & set(cocuk_sessiz_harfler)) != set() and (set(baba) & set(cocuk_sessiz_harfler)) != set() and set(cocuk_sessiz_harfler).issubset(set(anne) | set(baba)):
        return "bu aile süper ailedir"
        
    else:
        return "çocuğa isim bile koyamadınız"

In [153]:
super_aile_3("Elif","Ahmet","Fatih")

'bu aile süper ailedir'

# filter()

In [154]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [155]:
filter(None, "hello")

In [156]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [173]:
## False olanları getirmez. Sadece True ve Truty olanları getirir

list(filter(None, [1, 2, 0, 3.14, True, False, 0.0, "Techpro"]))

[1, 2, 3.14, True, 'Techpro']

In [158]:
def find_odds(x):

    if x % 2:
        return True
    else:
        return False

In [159]:
find_odds(6)

False

In [160]:
list(filter(find_odds, [0,1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [161]:
tuple(filter(find_odds, [0,1,2,3,4,5,6,7,8,9]))

(1, 3, 5, 7, 9)

In [162]:
def find_evens(x):

    if x % 2:
        return False
    else:
        return True

In [163]:
tuple(filter(find_evens, [0,1,2,3,4,5,6,7,8,9]))

(0, 2, 4, 6, 8)

In [164]:
isimler_listesi_2 = ["Serhat", "sedat", "Metehan", "Bahar", "cennet", "Bilge" ]

In [165]:
def len_5(x):

    if len(x) == 5: return True

In [166]:
len_5("seda")

In [168]:
list(filter(len_5, isimler_listesi_2))

['sedat', 'Bahar', 'Bilge']

In [169]:
def find_armstrong_2(x):
    
    x = str(x)

    uzunluk = len(x)

    if int(x) == sum([int(i) ** uzunluk for i in x]):
        return int(x)

In [170]:
find_armstrong_2(40)

In [171]:
list(filter(find_armstrong_2, range(10,100001)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

## lambda() - Kullan at fonksiyon

In [174]:
def kareler_toplamı(x, y): 
    return x **2 + y ** 2

In [176]:
def kareler_toplamı(x, y): return x **2 + y ** 2 # burda returnu yanına yazabiliriz

In [177]:
kareler_toplamı(3,4)

25

In [178]:
lambda x, y: x ** 2 + y ** 2

- Lambda  da lamda yazıp parametrelerini fonksiyonlarını yanına yazarız kullanırız ve biter

In [179]:
(lambda x, y: x ** 2 + y ** 2)(3, 4)

25

In [181]:
(lambda x, y: x ** 2 + y ** 2)(3) # 2 parametre varsa 2 parametre girilmeli

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [182]:
(lambda x: len(x) == 5)("bilkay")

False

In [184]:
list(filter((lambda x: len(x) == 5), isimler_listesi_2))

['sedat', 'Bahar', 'Bilge']

In [185]:
(lambda x: x[::-1])("safa")

'afas'

In [186]:
(lambda x: x[::-1])("ey edip adanada pide ye")

'ey edip adanada pide ye'

In [187]:
# paligdron olup olmadığını kontrol ediyoruz

(lambda x: x[::-1] == x)("ey edip adanada pide ye")

True

In [188]:
(lambda x: x[::-1] == x)("nazan")

True

In [11]:
import pandas as pd # kütüphaneyi indirip pd diye kısaltma isim verdik. Yani pandası indir adına da pd ismi ver dedik

In [12]:
# Bu kod eda.cvs klasörü içinde çalıştığımız klasörde açarsak çalışır yoksa çalışmaz
# df ile bu dosyayı çağıracak bir fonksiyon tanımladık
# pd - pandas kütüphanesini indir eda dosyasını oku dedik

df = pd.read_csv("adult_eda.csv")

In [9]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [13]:
# bu dosyadaki bilgileri cinsiyetine göre süz dedik

df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [14]:
# Bu dosyadaki cinsiyet bilgisindeki male ise 0 değeri ver diğerine 1 değeri ver dedik

df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

# 23.02.2024

# map()

In [1]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [2]:
def sayının_karesi(x):

    return x ** 2

In [3]:
sayının_karesi(5)

25

In [4]:
sayılar_listesi = [2,4,6,5,8,9,1,15]

In [5]:
map(sayının_karesi, sayılar_listesi)

In [6]:
list(map(sayının_karesi, sayılar_listesi))

[4, 16, 36, 25, 64, 81, 1, 225]

In [8]:
# filter - listedeki tüm elemanları fonksiyona tabi tutar, truty olan tüm elemanları aynen yazar

list(filter(sayının_karesi, sayılar_listesi))

[2, 4, 6, 5, 8, 9, 1, 15]

In [9]:
list(map(len,["techpro", "yasemin", "murat","ali"]))

[7, 7, 5, 3]

In [11]:
list(filter(len,["techpro", "yasemin", "murat","ali"]))

['techpro', 'yasemin', 'murat', 'ali']

In [12]:
def tek_çift(* sayı):

    result = []

    for i in sayı:
        if i % 2 == 1:
            result.append(i ** 2)
        else:
            result.append(i)
    
    return result

In [13]:
tek_çift()

[]

In [15]:
tek_çift(1,2,3,4,5,6,7)

[1, 2, 9, 4, 25, 6, 49]

In [16]:
(lambda x: x ** 2 if x % 2 == 1 else x)(7)

49

In [17]:
(lambda x: x ** 2 if x % 2 == 1 else x)(8)

8

In [23]:
# Birden fazla eleman vediğinde sonuç çıkmıyor
(lambda * x: x ** 2 if x % 2 == 1 else x)(8,9,10,11)

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [21]:
#Her bir elemaı lambdaya uyguluyor ve çıktı veriyor

list(map((lambda x: x ** 2 if x % 2 == 1 else x), [1,2,3,4,5]))

[1, 2, 9, 4, 25]

In [24]:
list(map(tek_çift, [1,2,3,4,5]))

[[1], [2], [9], [4], [25]]

In [25]:
tek_çift(5)

[25]

# Modules

In [26]:
import random as yeni_random

In [27]:
yeni_random.random()

0.13638121837751394

In [28]:
# random modülüne yeni isimle notbookumuza ekledik artık bu isimle çağırmak zorudayız yoksa hata verir

In [29]:
import math

In [30]:
math.factorial

In [31]:
math.factorial(4)

24

In [33]:
# negatif sayılarda faktoriyel aranmaz
math.factorial(-4)

ValueError: factorial() not defined for negative values

In [34]:
math.pi() # değişken olduğu için fonksiyon gibi çağrılmaz.

TypeError: 'float' object is not callable

In [35]:
math.pi

3.141592653589793

In [36]:
sayının_karesi(3)

9

In [37]:
math.pow(3,2)

9.0

In [38]:
64 ** 0.5

8.0

In [39]:
math.sqrt(64)

8.0

In [42]:
import pyautogui

In [41]:
pip install pyautogui

Collecting pyautogui
  Downloading PyAutoGUI-0.9.54.tar.gz (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     ------------ ------------------------- 20.5/61.2 kB 330.3 kB/s eta 0:00:01
     ------------------- ------------------ 30.7/61.2 kB 330.3 kB/s eta 0:00:01
     -------------------------------------- 61.2/61.2 kB 467.9 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pymsgbox (from pyautogui)
  Downloading PyMsgBox-1.0.9.tar.gz (18 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pytweening>=1.0.4 (from pyautogui)
  Downloading pytweening-1.2.0.tar.gz (171 kB)
     ---------------------------------------- 0.0/171.2 kB ? eta -:--:--
     ------ ------------------------------ 30.7/171.2 kB 660.6 kB/s eta 0:00:01
     ------------------------ ------------- 112.6/171.2 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 171.2/171.2 kB 1.3 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pyscreeze>=0.1.21 (from pyautogui)
  Downloading PyScreeze-0.1.30.tar.gz (27 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pygetwindow>=0.0.5 (from pyautogui)
  Downloading PyGetWindow-0.0.9.tar.gz (9.7 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting mouseinfo (from pyautogui)
  Downloading MouseInfo-0.1.3.tar.gz (10 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pyrect (from pygetwindow>=0.0.5->pyautogui)
  Downloading PyRect-0.2.0.tar.gz (17 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pyperclip (from mouseinfo->pyautogui)
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: pyautogui, pygetwindow, pyscreeze, pytweening, mouseinfo, pymsgbox, pyperclip, pyrect
  Building wheel for pyautogui (pyproject.toml): started
  Building wheel for pyautogui (pyproject.toml): finished with status 'done'
  Created wheel for pyautogui: filename=PyAutoGUI-0.9.54-py3-none-any.whl size=37597 sha256=e5551ccd4dfaea08f72db57fd601225de439970b8d653244102710015d1fa835
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\d9\d6\47\04075995b093ecc87c212c9a3dbd34e59456c6fe504d65c3e4
  Building wheel for pygetwindow (pyproject.toml): started
  Building wheel for pygetwindow (pyproject.toml): finished with status 'done'
  Created wheel for pygetwindow: filename=PyGetWindow-0.0.9-py3-none-any.whl size=11080 sha256=a39b1be3a5f5c47af7d0fe67ab88c544f3a76ed4f90c8c6f1065fad36dea5ac9
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\b3\39\81\34dd7a2eca5f885f1f6e2796761970daf66a2d98ac1904f5f4
  Building wheel for pyscreeze (pyproject.toml): started
  Building wheel for pyscreeze (pyproject.toml): finished with status 'done'
  Created wheel for pyscreeze: filename=PyScreeze-0.1.30-py3-none-any.whl size=14400 sha256=c1c218db1ca7346006ec56f6d80f9d86910dbb91a250066907efb297187e4459
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\9c\02\ab\4e0b66866966de3adef00e6de37147b6ba529f6a682c64b7cf
  Building wheel for pytweening (pyproject.toml): started
  Building wheel for pytweening (pyproject.toml): finished with status 'done'
  Created wheel for pytweening: filename=pytweening-1.2.0-py3-none-any.whl size=8031 sha256=d8149bcf0cae9568c9db69aa216434867ab904b8801b948a6c7c070b994632ce
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\23\d5\13\4e9bdadbfe3c78e47c675e7410c0eed2fbb63c5ea6cf1b40e7
  Building wheel for mouseinfo (pyproject.toml): started
  Building wheel for mouseinfo (pyproject.toml): finished with status 'done'
  Created wheel for mouseinfo: filename=MouseInfo-0.1.3-py3-none-any.whl size=10904 sha256=63b5ae62bb4890f07943b020cf0c57f58b0400be5d6caff6549ba8ff2d15b391
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\b1\9b\f3\08650eb7f00af32f07789f3c6a101e0d7fc762b9891ae843bb
  Building wheel for pymsgbox (pyproject.toml): started
  Building wheel for pymsgbox (pyproject.toml): finished with status 'done'
  Created wheel for pymsgbox: filename=PyMsgBox-1.0.9-py3-none-any.whl size=7416 sha256=e7010a6db8c9bb7c91fa625d2d8c58c873a66e619630dac3d37feb050676a742
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\55\e7\aa\239163543708d1e15c3d9a1b89dbfe3954b0929a6df2951b83
  Building wheel for pyperclip (pyproject.toml): started
  Building wheel for pyperclip (pyproject.toml): finished with status 'done'
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11136 sha256=56f02131d3475ca4288cf1d999ef38dcfb08530b4d38cbe85dc817d66d2bb699
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\b7\e1\45\ce0a91b8cdfed625867580ed90242e4581c4995f69fd062e07
  Building wheel for pyrect (pyproject.toml): started
  Building wheel for pyrect (pyproject.toml): finished with status 'done'
  Created wheel for pyrect: filename=PyRect-0.2.0-py2.py3-none-any.whl size=11205 sha256=f434b7b11b459f611176bf7a60d35f935caafeb3394227f8e85102b7b316c054
  Stored in directory: c:\users\sadim\appdata\local\pip\cache\wheels\0b\1e\d7\0c74bd8f60b39c14d84e307398786002aa7ddc905927cc03c5
Successfully built pyautogui pygetwindow pyscreeze pytweening mouseinfo pymsgbox pyperclip pyrect
Installing collected packages: pytweening, pyscreeze, pyrect, pyperclip, pymsgbox, pygetwindow, mouseinfo, pyautogui
Successfully installed mouseinfo-0.1.3 pyautogui-0.9.54 pygetwindow-0.0.9 pymsgbox-1.0.9 pyperclip-1.8.2 pyrect-0.2.0 pyscreeze-0.1.30 pytweening-1.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
import pyautogui as pg

In [57]:
pg.position()

Point(x=1121, y=806)

In [58]:
pg.moveTo(x=1121, y=806)
pg.leftClick()
pg.write("# Buraya ne yazsak acaba")

In [ ]:
 Buraya ne yazsak acaba

# KENDİ MODÜLÜMÜZÜ OLUŞTURMAK 
- Masaüstünde yeni bir klasör oluşturduk. <my_module>
- my_module klasörümüzün içine 1 klasör daha oluşturduk. <module_1>
- module_1 içindeyken <__init__.py> dosyası oluşturuyoruz.
- Bu init py dosyası bizim yazacağımız modülün python ile iletişime geçmesini sağlayacak. İnitilize edecek.
- <__init__.py> dosyasını oluşturduktan sonra kapatabiliriz. Bir işlem yapmicaz. 
- Aynı klasörün içine oluşturacağımız modül için bir python dosyası açalım <my_math.py> isminde
- Modüller .ipynb dosyalarıyla çalışmıyor. .py dosyası (python)ile çalışıyor o yüzden .py uzantılı python dosyası açıyoruz kendi modülümüzü oluşturmak için
- my_math.py dosyası içinde istediğimiz formülleri, müdülleri, hazırladığımız fonksiyonları açıklamalarını yazabiliriz.
- Autosave olduğu için işlemleri yaptıktan sonra direkt kapatabiliriz.
- Şimdi bu konutları kullanalım. Yine aynı dosyanın içinde <deneme.ipynb> dosyası oluşturuyoruz. 
- deneme.ipynb dosyasının içinde import my_math ile modülümü bu sayfaya import ediyorum.
- deneme.ipynb dosyasının içinde artık oluşturduğum fonksiyonları kullanabilirim.
- ÖNEMLİ: Oluşturduğum modül dosyası, init dosyası ve çalıştığım sayfa aynı klasör içinde olmalı yoksa hata verir.
- EĞER : Aynı dosya içinde değilse mesela üst klasörde oluşturduk çalışma sayfasını <br>
        - Bu sayfada <import my_math> dersem hata alırım böyle bir modül yok diye uyarı verecek.<br>
        - Modülü olduğu klasörden çağırmak için : <from modul_1 import my_math> dememiz lazım.<br>
        - Yani modul_1 klasöründeki my_math modülünü çağır diyoruz. Bu sefer çalışır.<br>

# 24.02.2024

### Başka klasörde oluşturduğumuz modülü buraya çağıralım

In [2]:
import my_module # Bu dosya modülü oluşturduğum modül dosyas ile aynı klasörde olmadığı için hata verdi

ModuleNotFoundError: No module named 'my_module'

In [2]:
import my_module

### library nin bulunduğu klasör

C:\Users\sadim\AppData\Local\Programs\Python\Python312\Lib

 - Kendi fonksiyonlarımızı oluşturduğumuz modül dosyasını python un library sine eklediğimiz zaman (benim bilgisayarda yukarıdaki adreste) bu oluşturduğumuz fonksiyonları tüm dosyalarımızda kullanabiliriz
  - Eğer modül dosyasını tek değil de dosya ile atarsak lib klasörünün içine klasör ile çağırmak lazım

In [1]:
## package_1 dosyasını tamamen lib klasörünün içine attıysam onunla import etmem lazım

from package_1 import my_module # Ben klasörle atmadığım için hata verdi normalde vermez

ModuleNotFoundError: No module named 'package_1'

SORU : Taş kağıt makas oyunu yazıp modüle çevirelim

In [7]:
a = input("taş kağıt makas oynamak ister misin(yes or no)").lower()

import time
import random
pc_list = ["t", "k", "m"]

while a == "yes":

    pc = pc_list[random.randint(0,2)]

    time.sleep(1)
    
    you = input("birini seç: t: taş, m: makas, k: kağıt").lower()

    if (pc == "t" and you == "m") or (pc == "m" and you == "k") or (pc == "k" and you == "t"):
        print("kazanan bilgisayar")
    
    elif (pc == "m" and you == "t") or (pc == "k" and you == "m") or (pc == "t" and you == "k"):
        print("kazanan sensin")

    elif (pc == "m" and you == "m") or (pc == "k" and you == "k") or (pc == "t" and you == "t"):
        print("berabere")

    else:
        print("hatalı giriş")

    time.sleep(1)

    a = input("taş kağıt makas oyununa devam etmek ister misin(yes or no)").lower()

print("oyun bitti")

berabere
berabere
hatalı giriş
kazanan sensin
oyun bitti

In [4]:
def taş_kagıt_makas():

    """Taş kağıt makas oyunu"""

    a = input("taş kağıt makas oynamak ister misin(yes or no)").lower()

    import time
    import random
    pc_list = ["t", "k", "m"]

    while a == "yes":

        pc = pc_list[random.randint(0,2)]

        time.sleep(1)
        
        you = input("birini seç: t: taş, m: makas, k: kağıt").lower()

        if (pc == "t" and you == "m") or (pc == "m" and you == "k") or (pc == "k" and you == "t"):
            print("kazanan bilgisayar")
        
        elif (pc == "m" and you == "t") or (pc == "k" and you == "m") or (pc == "t" and you == "k"):
            print("kazanan sensin")

        elif (pc == "m" and you == "m") or (pc == "k" and you == "k") or (pc == "t" and you == "t"):
            print("berabere")

        else:
            print("hatalı giriş")

        time.sleep(1)

        a = input("taş kağıt makas oyununa devam etmek ister misin(yes or no)").lower()

    print("oyun bitti")

- <t_m_k_oyun.py> diye bir modüle dosyası oluşturduk
- <import t_m_k_oyun> diye import ettik
- <t_m_k_oyun.taş_kagıt_makas()> diyerek oyunu oynayabiliriz